<div class="container">
    <div *ngIf="spinner">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <div *ngIf="!spinner">
        <div class="filterCheckBox">
            <div class="filter_box">
                <label for="participatedFilter">
                    <input id="participatedFilter" [(ngModel)]="parcipiantFilter" (click)="filter()" type="checkbox">
                    Participate ({{this.getActiveQuantity("participant")}})</label>
            </div>
            <div class="filter_box">
                <label for="validatedFilter">
                    <input id="validatedFilter" [(ngModel)]="validateFilter" (click)="filter()" type="checkbox">
                    Validate ({{this.getActiveQuantity("validator")}})</label>
            </div>
            <div>
                <label for="historyFilter">
                    <input id="historyFilter" [(ngModel)]="historyFilter" (click)="filter()" type="checkbox">
                    History ({{this.getActiveQuantity("history")}})</label>
            </div>
        </div>
        <div *ngIf='questions.length !== 0'>
            <div *ngFor="let question of questions; let index = index">
                <quiz-template [coinInfo]="coinInfo" [myAnswers]="myAnswers[index]" [userData]="userData"
                    [question]="question" [fromComponent]="fromComponent" (callGetData)="getData()"></quiz-template>
            </div>
        </div>
        <div class="dont_have_event" *ngIf='questions.length === 0'>
            <p>Don't have any event.</p>
        </div>
    </div>
</div>