<div class="room-card">
  <div class="row">
    <div class="col-3"
         style="border-top-left-radius: 20px; border-bottom-left-radius: 20px " [ngStyle]="colorForRoom(data?.room.color)"></div>
    <div class="col-9 pl-0">
      <div class="room-card-top">
        <div>
          <h2>{{data?.question}}</h2>
         <div class="questions-box">
           <div class="d-flex align-items-center" *ngFor="let answer of data?.answers">
             <input name="choice" type="radio"> <span class="answer-checkbox">{{answer}}</span>
           </div>
         </div>
        </div>

        <div>
          <div class="timer-span">
            Ending in: <span class="timer-span">{{data?.endTime}} </span>
          </div>
          <div>
            BET <span class="bet-style">200</span> <span class="quickBet">QUICK BET</span>
          </div>
        </div>

      </div>
      <div class="room-card-bottom">
        <div class="room-info-list">
          <div class="info-item">
            <div class="avatar mr-2">
              <img src="{{data?.host.avatat}}" alt="avatar">
            </div>
            <div>{{data?.host.nickName}}</div>
          </div>
          <div class="info-item">
            <div class="yellow-parc-img mr-2 ml-3"></div>
            <div><span>389</span>Joined</div>
          </div>
          <div class="info-item">
            <div class="bet-img mr-2 ml-3"></div>
            <div><span>200 BET</span> Avg. Bet</div>
          </div>
          <div class="info-item">
            <div class="colorRoom mr-2 ml-3 " [ngStyle]="colorForRoom(data?.room.color)"></div>
            <div><span>{{data?.room.name}}</span> (1200)</div>
          </div>
        </div>
        <div class="room-comment row">
          <div class="col-8 d-flex">
            <div class="comment-img mr-2"></div>
            <div class="comment-text"><p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur
              adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et d.... <span (click)="getCommentById(data?.id)">(see 723 more comments)</span>
            </p>
            </div>
          </div>
          <div class="col-2">
            <div class="button">
              join now
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
