<event-start *ngIf="!errorPage && !eventFinish" [eventData]="eventData" (interacDone)="interacDone($event)"></event-start>
<event-finish *ngIf="eventFinish" [eventData]="eventData" ></event-finish>
<div *ngIf="errorPage" class="box">
    <div class="errorImg"></div>
    <p class="eventNotFound">Event not found!</p>
    <p class="eventNotFoundInfo">Sorry. The event you are looking for does not exist. Please join other events or create your own.</p>
    <a href="#" class="becomeHost">HOST AN EVENT</a>
</div>
<app-spinner-loading *ngIf="spinnerLoading"></app-spinner-loading>
