<div class="box">
    <div *ngIf="formData.eventType === 'public'">
        <form [formGroup]="publicForm">
            <p class="name">Bet WITH</p>
            <div class="checkBox">
                <div class="pretty p-default p-round inline">
                    <input type="radio" value="token" formControlName="tokenType" checked>
                    <div class="state p-warning-o checkPos">
                        <label class="pos"> </label>
                    </div>
                    <p class="tab">BTY Token</p>
                </div>

                <div class="pretty p-default p-round inline">
                    <input type="radio" value="ether" formControlName="tokenType">
                    <div class="state p-warning-o checkPos">
                        <label class="pos"> </label>
                    </div>
                    <p class="tab">ETH (Ethereum)</p>

                </div>
                <div class="pretty p-default p-round inline">
                    <input type="radio" value="both" formControlName="tokenType">
                    <div class="state p-warning-o checkPos">
                        <label class="pos"></label>
                    </div>
                    <p class="tab">Both</p>

                </div>
            </div>
            <p class="info">Mininum bet is <b>1 BTY</b> or <b>0.001 ETH.</b><a class="link" href="#">Learn more</a></p>
            <div class="timeBox">
                <div>
                    <div class="labelTime"><img class="clockImg" src="../../../../assets/Clock.png">
                        <p class="timeLabel">TIME TO BET</p>
                    </div>
                </div>
                <div>
                    <div class="labelTime"><img class="clockImg" src="../../../../assets/Clock.png">
                        <p class="timeLabel">TIME TO VALIDATE</p>
                    </div>
                </div>
            </div>
            <div>
                <ul>
                    <li class="infoGrey">Anyone can choose to join as a Player to bet on the event, or as an Expert
                        to validate the result.</li>
                    <li class="infoGrey">Experts join to validate after the Players. They can't bet.</li>
                    <li class="infoGrey">Events need both Players and Experts to join in 8 hours. Otherwise it will be
                        cancelled.</li>
                </ul>
                <p class="infoYellow">Pot from losers is distributed to <b>Experts (5%), Host (3%), Bettery (2%),</b>
                    and <b>Winners
                        (90%)</b> who get their bets back.</p>
            </div>
            <div class="buttonBox">
                <button type="button" class="cancel" (click)="cancel()">BACK</button>
                <button type="button" class="next" (click)="createPublicEvent()">NEXT</button>
            </div>

        </form>
    </div>
    <div *ngIf="formData.eventType === 'private'">
        <form [formGroup]="privateForm">
            <div class="cupInfo"><img class="cupImg" src="../../../../assets/Cup.png">
                <p class="name cupName">What to win or lose</p>
            </div>
            <div class="form-group">
                <div class="inputBox">
                    <input type="text" formControlName="winner" class="answer" id="winner" placeholder="Get free dinner"
                        [ngClass]="{ 'is_invalid': submitted && priv.winner.errors }">
                    <div class="tip">
                        <p class="posOne">Winners</p>
                    </div>
                </div>
                <div *ngIf="submitted && priv.winner.errors">
                    <small *ngIf="priv.winner.errors.required" class="form-text quize_validation_error">Winners is
                        required</small>
                </div>
            </div>
            <div class="form-group">
                <div class="inputBox">
                    <input type="text" formControlName="losers" class="answer" id="losers" placeholder="Share the bill"
                        [ngClass]="{ 'is_invalid': submitted && priv.losers.errors }">
                    <div class="tip">
                        <p class="posTwo">Losers</p>
                    </div>
                </div>
                <div *ngIf="submitted && priv.losers.errors">
                    <small *ngIf="priv.losers.errors.required" class="form-text quize_validation_error">Losers is
                        required</small>
                </div>
            </div>

            <div class="cupInfo" style="padding-top: 20px;"><img class="cupImg" src="../../../../assets/Clock.png">
                <p class="name cupName">TIME TO BET</p>
            </div>

            <div ngbDropdown class="dropBox">
                <button [ngClass]="{ 'is_invalid': submitted && priv.privateEndTime.errors }" type="button" class="btn"
                    id="startTime" ngbDropdownToggle>{{startTimeValue}}</button>
                <div ngbDropdownMenu aria-labelledby="startTime">
                    <div *ngFor="let time of times">
                        <button (click)="chosePrivateEndTime(time)" type="button" ngbDropdownItem>{{time.name}}</button>
                    </div>
                </div>
            </div>
            <div *ngIf="submitted && priv.privateEndTime.errors">
                <small *ngIf="priv.privateEndTime.errors.required" class="form-text quize_validation_error">End time is required</small>
            </div>

            <div class="buttonBox">
                <button type="button" class="cancel" (click)="cancel()">BACK</button>
                <button type="button" class="next" (click)="createPrivateEvent()">NEXT</button>
            </div>

        </form>

    </div>
</div>