.container
  padding: 9px 16px 43px 16px
  background: #242521

.title
  text-align: center
  & h1
    color: #BF94E4
    font-weight: bold
    font-size: 18px
    line-height: 25px
    margin-bottom: 8px

.title_text
  font-weight: 600
  font-size: 16px
  line-height: 22px
  color: #FFFFFF
  margin-bottom: 26px

.title_btn
  width: 100%
  & button
    width: 100%
    height: 48px
    background-color: #FFD300
    border-radius: 8px
    border: none
    font-weight: 600
    font-size: 18px
    line-height: 25px
