<div class="container">
  <div>
    <div class="title d-flex justify-content-center">
      <div class="flag_img2"></div>
      <div class="flag_img"></div>
      <div>
        <h1>EVENT ENDED</h1>
      </div>
    </div>
    <div class="title_text">
      <p>What a ride! Did you have a good time? Host more events and have more fun!</p>
    </div>
    <div class="title_btn">
      <button>HOST YOUR OWN EVENT</button>
    </div>
  </div>
  <div class="second row">
    <div class="left col">
      <div class="left-img"></div>
      <div class="img-text">
        <h4>Winners get</h4>
      </div>
      <div>
        <p style="text-transform: uppercase; font-size: 16px;">{{eventData?.winner}}</p>
      </div>
      <div class="people">
        <div *ngFor="let winner of winners">
          <img src="{{winner.avatar}}" class="avatars">
        </div>
      </div>
    </div>
    <div class="vert-line"></div>
    <div class="right col">
      <div class="right-img"></div>
      <div class="img-text">
        <h4>Losers agree to</h4>
      </div>
      <div class="loserBox">
        <p class="loserBox" >{{eventData?.loser}}</p>
      </div>
      <div class="people">
        <div *ngFor="let loser of losers">
          <img src="{{loser.avatar}}" class="avatars">
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="question">
      <p>{{eventData?.question}}</p>
    </div>
    <div class="answer_block">
      <div *ngFor="let answer of eventData?.answers">
        <div class="answer_active" *ngIf="answer == eventData?.finalAnswer">
          <div class="d-flex justify-content-between">
            <div class="mb-2">
              <p>{{answer}}</p>
            </div>
            <div class="check_img"></div>
          </div>
          <div class="hr"></div>
          <div class="d-flex mt-2">
            <div><span>Validated by:</span></div>
            <img src="{{eventData?.validatorAnswer.avatar}}" class="experAvatar" referrerpolicy="no-referrer">
            <div>
              <p>{{eventData?.validatorAnswer.nickName}}</p>
            </div>
          </div>
        </div>
        <div class="answer_item" *ngIf="answer != eventData?.finalAnswer">
          <p>{{answer}}</p>
        </div>
      </div>
    </div>
    <div class="share_event">
      <h4>share YOUR event with friends!</h4>
      <p><a href="#">www.bettery.io/tonystarkevent</a></p>
      <div class="share_img" (click)="copyToClickBoard()"></div>
    </div>
  </div>
  <div class="hr-grey"></div>
  <div>

    <div class="sendCommentBox">
      <div class="addCommentBox">
        <p class="addCommentText">Add a comment...</p>
      </div>
      <div class="sendImg"></div>
    </div>

    <div class="commentBox">
      <div class="commentHeader">
        <div class="senderBox">
          <div class="commentImg face1"></div>
          <p class="commentName">Jenna Logan</p>
        </div>
        <div class="timeBox">1 day ago</div>
      </div>
      <div>
        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua.</p>
      </div>
    </div>

    <div class="commentBox">
      <div class="commentHeader">
        <div class="senderBox">
          <div class="commentImg face2"></div>
          <p class="commentName">Terry Crews</p>
        </div>
        <div class="timeBox">1 day ago</div>
      </div>
      <div>
        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>