<div *ngIf="display" class="sidebar-wrap">
  <div style="margin-bottom: 40px">
    <button class="btn-creat-event">
      <img src="../../../../assets/sidebar/plus.png" alt="+">
      <span class="show-short btn-creat-text">CREATE EVENT</span>
    </button>
  </div>

  <div class="menu-list">
    <ul>
      <li>
        <div class="join-img"></div>
        <span class="show-short active">Join</span>
      </li>
      <li>
        <div class="host-img"></div>
        <span class="show-short">Host</span>
      </li>
      <li>
        <div class="rooms-img"></div>
        <span class="show-short" style="padding-left: 8px">Rooms</span>
      </li>
      <li>
        <div class="myEvent-img"></div>
        <span class="show-short" style="padding-left: 6px">My Events</span>
      </li>
      <li>
        <div class="achievements-img"></div>
        <span class="show-short">Achievements</span>
      </li>
      <li>
        <div class="friends-img"></div>
        <span class="show-short">Friends</span>
      </li>
      <li>
        <div class="help-img"></div>
        <span class="show-short">Help</span>
      </li>
    </ul>
  </div>

  <div class="contact-list">
    <ul>
      <li>
        <div class="mail-img"></div>
        <span class="show-short">Email</span>
      </li>
      <li>
        <div class="telegram-img"></div>
        <span class="show-short">Telegram</span>
      </li>
      <li>
        <div class="letter-img"></div>
        <span class="show-short">Blog</span>
      </li>
    </ul>
  </div>
</div>
