<nav class="navbar navbar-light bg-light" *ngIf="display">
  <div class="logo">
    <h3 style="padding-left: 20px; padding-top: 10px">Logo</h3>
  </div>
  <div *ngIf="nickName === undefined">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar_row">
      <li class="nav-item">
        <a class="nav_tabs nav-link" [ngClass]="{'active_tab':this.activeTab === 'add'}" routerLink="/event-group"
           (click)="setActiveTab('add')">Create event</a>
      </li>
      <li class="nav-item">
        <a class="nav_tabs nav-link" [ngClass]="{'active_tab':this.activeTab === 'eventFeed'}" routerLink="/eventFeed"
           (click)="setActiveTab('eventFeed')">Event Feed</a>
      </li>
      <li class="nav-item">
        <div class="registration">
          <button type="button" class="btn btn-success" (click)="registrationModal()">Login /
            Registration
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="nickName !== undefined">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar_row">
      <li class="nav-item">
        <a class="nav_tabs nav-link" [ngClass]="{'active_tab':this.activeTab === 'add'}" routerLink="/event-group"
           (click)="setActiveTab('add')">Create event</a>
      </li>
      <li class="nav-item">
        <a class="nav_tabs nav-link" [ngClass]="{'active_tab':this.activeTab === 'eventFeed'}" routerLink="/eventFeed"
           (click)="setActiveTab('eventFeed')">Event Feed</a>
      </li>
      <li class="nav-item invitation">
        <a class="nav_tabs nav-link" [ngClass]="{'active_tab':this.activeTab === 'invitation'}" routerLink="/invitation"
           (click)="setActiveTab('invitation')">Invitation</a>
        <p *ngIf="invitationQuantity !== 0" class="badge">{{invitationQuantity}}</p>
      </li>
      <li class="nav-item">
        <a class="nav_tabs nav-link" [ngClass]="{'active_tab':this.activeTab === 'activites'}"
           routerLink="/my-activites" (click)="setActiveTab('activites')">My
          activites</a>
      </li>
      <li class="nav-item">
        <div class="circle" [style.background]="avatar"></div>
        <div class="user_email"> {{nickName}}</div>
      </li>
      <li class="nav-item">
        <div *ngIf="amountSpinner">
          <div class="lds-ripple-small">
            <div></div>
            <div></div>
          </div>
        </div>
        <div *ngIf="!amountSpinner">
          <div>
            <p [ngbPopover]="popContent" [popoverTitle]="popTitle" class="loom_balance">
              Balance: {{coinInfo.loomBalance | number:'1.0-2'}} ETH /
              {{ERC20Coins?.loomBalance | number:'1.0-2'}} BET
            <p *ngIf="holdBalance !== 0" class="loom_hold_balance">On hold: {{holdBalance}} $</p>
          </div>
        </div>
      </li>
      <li *ngIf="this.depositGuard()" class="nav-item">
        <button type="button" class="btn btn-outline-success btn-sm deposit" (click)="open(content)">Deposit /
          Withdrawal
        </button>
      </li>
      <li class="nav-item erc20">
        <a class="nav_tabs nav-link" [ngClass]="{'active_tab':this.activeTab === 'erc20'}" routerLink="erc20"
           (click)="setActiveTab('erc20')">Buy IBT Tokens</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-success btn-sm deposit" (click)="logOut()">Log out</button>
      </li>
    </ul>
  </div>
</nav>

<div class="mobileNavbar" *ngIf="display" #insideElement>
  <div class="logoBox">
    <div class="logo"></div>
  </div>
  <div *ngIf="nickName === undefined" class="loginBox" (click)="loginWithTorus()">
    <div class="enter"></div>
    <p class="login">Login</p>
  </div>
  <div *ngIf="nickName !== undefined" class="loginBoxRegist" (click)="navBar()">
    <p class="userNickName">{{nickName}}</p>
    <img src={{avatar}} class="avatarImg" referrerpolicy="no-referrer">
  </div>
  <div *ngIf="openNavBar" class="positionNavbar">
    <div class="balanceBox">
      <div class="balancePos">
        <p *ngIf="!amountSpinner" class="balance" style="font-weight: 500;">
          <b>{{coinInfo?.loomBalance | number:'1.0-2'}}</b> ETH</p>
        <p *ngIf="amountSpinner" class="balance" style="font-weight: 400;">Calculating...</p>
        <div class="ethImg"></div>
      </div>
      <div class="balancePos">
        <p *ngIf="!amountSpinner" class="balance" style="font-weight: 500;">
          <b>{{coinInfo?.tokenBalance | number:'1.0-2'}}</b> BTY</p>
        <p *ngIf="amountSpinner" class="balance" style="font-weight: 400;">Calculating...</p>
        <div class="btyImg"></div>
      </div>
      <div class="balancePos pr-2" style="padding-top: 14px">
        <button class="lowOnCoins" (click)="openModal(contentModal)">Need more?</button>
      </div>
    </div>

    <div class="arrow"></div>
    <div class="navBox">
      <button class="navLink">Event History</button>
    </div>
    <div class="arrow"></div>
    <div class="navBox">
      <button class="navLink">My Wallet</button>
    </div>
    <div class="arrow"></div>
    <div class="navBox">
      <button class="navLink" (click)="logOut()">Log out</button>
    </div>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Deposit and Withdrawal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ngb-tabset>
    <ngb-tab title="Deposit">
      <ng-template ngbTabContent>
        <div class="modal-body">
          <p>Deposit to the Loom network can take between 5 to 10 minutes.</p>
          <hr/>
          <p>ETH Balance (ETH Mainnet): {{coinInfo?.mainNetBalance | number:'1.0-4'}}</p>
          <p>ETH Balance (Matic Sidechain): {{coinInfo?.loomBalance | number:'1.0-4'}}</p>
          <div>
            <div class="form-group">
              <div class="input-group">
                <label class="amount_deposit_label">ETH deposit:</label>
                <input min="0" class="form-control deposit_input" [(ngModel)]="depositAmount"
                       (ngModelChange)="changeInput()" placeholder="Amount of ETH" type="number">
                <span class="input-group-btn">
                  <button *ngIf="!depositSpinner" type="button" class="btn btn-outline-dark"
                          (click)="deposit()">Deposit</button>
                  <div *ngIf="depositSpinner">
                    <div class="lds-ripple-small">
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <p *ngIf="depositError !== undefined" class="deposit_error">{{depositError}}</p>
          </div>

          <hr/>
          <p>QUIZE Balance (ETH Mainnet): {{ERC20Coins?.mainNetBalance | number:'1.0-4'}}</p>
          <p>QUIZE Balance (Matic Sidechain): {{ERC20Coins?.loomBalance | number:'1.0-4'}}</p>

          <div>
            <div class="form-group">
              <div class="input-group">
                <label class="amount_deposit_label">QUIZE deposit:</label>
                <input min="0" class="form-control deposit_input" [(ngModel)]="ERC20depositAmount"
                       (ngModelChange)="changeInput()" placeholder="Amount of QUIZE" type="number">
                <span class="input-group-btn">
                  <button *ngIf="!depositSpinner" type="button" class="btn btn-outline-dark"
                          (click)="depositERC20()">Deposit</button>
                  <div *ngIf="depositSpinner">
                    <div class="lds-ripple-small">
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <p *ngIf="ERC20depositError !== undefined" class="deposit_error">{{ERC20depositError}}</p>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Withdrawal">
      <ng-template ngbTabContent>
        <div class="modal-body">
          <p>Deposit to the Loom network can take between 5 to 10 minutes.</p>
          <hr/>
          <p>ETH Balance (ETH Mainnet): {{coinInfo?.mainNetBalance | number:'1.0-4'}}</p>
          <p>ETH Balance (Matic Sidechain): {{coinInfo?.loomBalance | number:'1.0-4'}}</p>
          <div>
            <div class="form-group">
              <div class="input-group">
                <label class="amount_deposit_label">ETH withdrawal: </label>
                <input min="0" class="form-control deposit_input" [(ngModel)]="withdrawalAmount"
                       (ngModelChange)="changeWithdrawal()" placeholder="Amount of ETH" type="number">
                <span class="input-group-btn">
                  <button *ngIf="!withdrawalSpinner" type="button" class="btn btn-outline-dark"
                          (click)="withdrawal()">Withdrawal</button>
                  <div *ngIf="withdrawalSpinner">
                    <div class="lds-ripple-small">
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <p *ngIf="withdrawalError !== undefined" class="deposit_error">{{withdrawalError}}</p>
          </div>
          <hr/>
          <p>QUIZE Balance (ETH Mainnet): {{ERC20Coins?.mainNetBalance | number:'1.0-4'}}</p>
          <p>QUIZE Balance (Matic Sidechain): {{ERC20Coins?.loomBalance | number:'1.0-4'}}</p>
          <div>
            <div class="form-group">
              <div class="input-group">
                <label class="amount_deposit_label">QUIZE withdrawal: </label>
                <input min="0" class="form-control deposit_input" [(ngModel)]="ERC20withdrawalAmount"
                       (ngModelChange)="changeWithdrawal()" placeholder="Amount of ETH" type="number">
                <span class="input-group-btn">
                  <button *ngIf="!withdrawalSpinner" type="button" class="btn btn-outline-dark"
                          (click)="withdrawalERC20()">Withdrawal</button>
                  <div *ngIf="withdrawalSpinner">
                    <div class="lds-ripple-small">
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <p *ngIf="ERC20withdrawalError !== undefined" class="deposit_error">{{ERC20withdrawalError}}</p>
          </div>
        </div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</ng-template>

<ng-template #popTitle>History transaction in Matic</ng-template>
<ng-template #popContent>
  <div *ngIf="userHistory.length !== 0">
    <div *ngFor="let history of userHistory; let i = index">
      <div class="historyBox">
        <p>{{history.date | date:'short'}} / </p>
        <p>{{history.amount}} <span>{{history.currencyType}}</span></p>
        <div *ngIf="history.eventId !=='Deleted'">
          <a *ngIf="history.paymentWay === 'send'" [routerLink]="['question', history.eventId]">
            <fa-icon class="historyIconSend" [icon]="faReply"></fa-icon>
          </a>
          <a *ngIf="history.paymentWay === 'receive'" [routerLink]="['question', history.eventId]">
            <fa-icon class="historyIconReceive" [icon]="faShare"></fa-icon>
          </a>
        </div>
        <div *ngIf="history.eventId ==='Deleted'">
          <fa-icon *ngIf="history.paymentWay === 'send'" class="historyIconSend" [icon]="faReply"></fa-icon>
          <fa-icon *ngIf="history.paymentWay === 'receive'" class="historyIconReceive" [icon]="faShare">
          </fa-icon>
        </div>

      </div>
    </div>
    <div *ngIf="loadMore === true" class="showAll">
      <button routerLink="history" class="btn btn-primary btn-sm">Show All</button>
    </div>
  </div>
  <div *ngIf="userHistory.length === 0">
    <p class="noneHistory">Do not have any transaction in Matic network.</p>
  </div>
</ng-template>

<ng-template #contentModal let-modal>
  <div class="modal-header p-2 pb-0">
    <button type="button" class="close border-hover" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-header modal-title">
    <h4>LOW ON BTY?</h4>
  </div>
  <div class="modal-body modal-body-text">
    <p>You are using Bettery prototype application running in a simulated enviroment with simulated funds. If you need
      more BTY, we can deposit you any amount - just ask us on Telegram!</p>
  </div>
  <div class="btn-modal">
    <button type="button" (click)="modal.close('Close click')">GET MORE BTY</button>
  </div>
  <div class="modal-a"><a href="#">Learn more about how Bettery works</a></div>
</ng-template>

<app-spinner-loading *ngIf="spinnerLoading"></app-spinner-loading>