.registration
  float: right

.registration_bitton
    background-color: #6f95f7
    border: none
    color: #ffffff
    width: 120px
    height: 40px
    font-size: 16px
    border-radius: 5px
    outline: none !important
    cursor: pointer


.logo
    float: left

.auth_bitton
    outline: none !important
    margin-right: 15px

.nav_tabs
    display: inline-block
    padding-right: 20px 

.user_email
    display: inline-block    
    position: relative
    top: 7px
    padding-right: 20px

.navbar_row
    flex-direction: row !important        


