<div style="padding: 0 40px">
  <div>
    <button type="button" class=" soonClose close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="main-img"></div>
  </div>
  <div>
    <h3 class="modal-title">Sign-up to Bettery</h3>
  </div>
  <div>
    <p class="modal-text">Get free 10 BET Tokens, enjoy betting with friends to win pizza, and grow your Reputations to earn big!</p>
  </div>
  <div class="modal-two-btn">
    <button class="btn-1" (click)="letsRegister()">Login or Register</button>
  </div>
</div>
