<div class="container">
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" *ngIf="generatedLink === undefined">

        <!-- Question -->

        <div class="form-group">
            <label for="Question">Question <b style="font-size: 12px">*required</b></label>
            <input type="text" formControlName="question" class="form-control" id="Question" placeholder="Enter your question"
                [ngClass]="{ 'is_invalid': submitted && f.question.errors }">
            <div *ngIf="submitted && f.question.errors">
                <small *ngIf="f.question.errors.required" class="form-text quize_validation_error">Question is
                    required</small>
            </div>
        </div>

        <!-- Hashtags -->

        <div class="form-group">
            <label for="Question">Hashtags <b style="font-size: 12px">*optional</b></label>
            <input type="text" formControlName="hashtags" class="form-control" id="hashtags" placeholder="Enter your hashtags separate by comma">
        </div>

        <!-- Answers -->

        <div class="form-group">
            <div>
                <label class="answer_label">Answers <b style="font-size: 12px">*required</b></label>
                <div style="float: right; padding-bottom: 10px">
                    <button type="button" (click)="oneMoreAnswer()" class="btn btn-success btn-sm">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
            </div>
            <div *ngFor="let answer of t.controls; let i = index">
                <div [formGroup]="answer" class="input-group mb-3">
                    <input [ngClass]="{ 'is_invalid': submitted && answer.controls.name.errors }" type="text"
                        formControlName="name" class="form-control" id="Question {{i}}" placeholder="{{answer.name}}">
                    <div *ngIf='answesQuality >= 3' class="input-group-prepend">
                        <button (click)="deleteAnswer(i)" class="btn btn-danger" type="button">
                            <fa-icon [icon]="faTimesCircle"></fa-icon>
                        </button>
                    </div>
                </div>
                <div *ngIf="submitted && answer.controls.name.errors">
                    <small style="padding-bottom: 10px" *ngIf="answer.controls.name.errors.required" class="form-text quize_validation_error">Answers
                        is required</small>
                </div>
            </div>
        </div>

        <!-- Allow multy choise -->

        <div class="form-group">
            <label>Allow multy choise <b style="font-size: 12px">*optional</b></label><br>
            <input formControlName="multyChoise" value="multy" name="multyChoise" type="radio" class="multy_choise">Enable<br>
            <input formControlName="multyChoise" value="one" name="multyChoise" type="radio" class="multy_choise">Disable<br>
        </div>

        <!-- Time -->

        <div class="form-group time_all">
            <div class="time_box">
                <label class="start_label">Start time <b style="font-size: 12px">*required</b></label>
                <button (click)="switchTimeMethods('exactStartTime')" type="button" class="btn btn-secondary btn-sm button_swith_time_pos">Switch
                    end time methods</button>
                <div *ngIf="!exactStartTime">
                    <div ngbDropdown class="d-inline-block">
                        <button [ngClass]="{ 'is_invalid': submitted && f.startDate.errors }" type="button" class="btn btn-outline-primary"
                            id="startTime" ngbDropdownToggle>{{startTimeValue}}</button>
                        <div ngbDropdownMenu aria-labelledby="startTime">
                            <div *ngFor="let time of times">
                                <button (click)="choseStartTime(time)" type="button" ngbDropdownItem>{{time.name}}</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="submitted && f.startDate.errors">
                        <small *ngIf="f.startDate.errors.required" class="form-text quize_validation_error">Start date
                            is required</small>
                    </div>
                </div>
                <div *ngIf="exactStartTime">
                    <div style="display: flex">
                        <div class="calendar_box">
                            <input [minDate]="startCaledarMeasure" class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                formControlName="calendarStartDate" ngbDatepicker #z="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="z.toggle()" type="button">
                                    <fa-icon [icon]="faCalendarAlt"></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div>
                            <ngb-timepicker formControlName="startTime"></ngb-timepicker>
                        </div>
                    </div>
                    <div *ngIf="submitted && f.startTime.errors">
                        <small *ngIf="f.startTime.errors.required" class="form-text quize_validation_error">Calendar
                            picker is required</small>
                    </div>
                    <div *ngIf="submitted && f.calendarStartDate.errors">
                        <small *ngIf="f.calendarStartDate.errors.required" class="form-text quize_validation_error">Start
                            time is required</small>
                    </div>
                </div>
            </div>
            <div class="time_box">
                <div>
                    <label class="start_label">End time <b style="font-size: 12px">*required</b></label>
                    <button (click)="switchTimeMethods('exactEndTime')" type="button" class="btn btn-secondary btn-sm button_swith_time_pos">Switch
                        start time methods</button>
                </div>
                <div *ngIf="!exactEndTime">
                    <div ngbDropdown class="d-inline-block">
                        <button [ngClass]="{ 'is_invalid': submitted && f.endDate.errors }" type="button" class="btn btn-outline-primary"
                            id="endTime" ngbDropdownToggle>{{endTimeValue}}</button>
                        <div ngbDropdownMenu aria-labelledby="endTime">
                            <div *ngFor="let time of times">
                                <button *ngIf="time.name !== 'Now'" (click)="choseEndTime(time)" type="button"
                                    ngbDropdownItem>{{time.name}}</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="submitted && f.endDate.errors">
                        <small *ngIf="f.endDate.errors.required" class="form-text quize_validation_error">End date is
                            required</small>
                    </div>
                </div>
                <div *ngIf="exactEndTime">
                    <div style="display: flex">
                        <div class="calendar_box">
                            <input [minDate]="f.calendarStartDate.value" class="form-control" placeholder="yyyy-mm-dd"
                                name="dp" formControlName="calendarEndDate" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                    <fa-icon [icon]="faCalendarAlt"></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div>
                            <ngb-timepicker formControlName="endTime"></ngb-timepicker>
                        </div>
                    </div>
                    <div *ngIf="submitted && f.endTime.errors">
                        <small *ngIf="f.endTime.errors.required" class="form-text quize_validation_error">Calendar
                            picker is required</small>
                    </div>
                    <div *ngIf="submitted && f.calendarEndDate.errors">
                        <small *ngIf="f.calendarEndDate.errors.required" class="form-text quize_validation_error">Start
                            time is required</small>
                    </div>
                </div>
            </div>
        </div>

        <!-- Private or pablic -->

        <div class="form-group">
            <label>Security guard <b style="font-size: 12px">*optional</b></label><br>
            <input formControlName="privateOrPublic" name="privateOrPublic" value="private" type="radio" class="multy_choise">Private<br>
            <input formControlName="privateOrPublic" name="privateOrPublic" value="public" type="radio" class="multy_choise">Public<br>
        </div>

        <!-- Invite friends -->
        <div class="form-group">
            <label for="invite_participants">Invite participants <b style="font-size: 12px">*optional</b></label>
            <input id="invite_participants" (selectItem)="selectedParcipiant($event)" type="text" class="form-control"
                [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false' />
            <div style="padding-top:10px">
                <div class="display_validators" *ngFor="let participant of inviteParcipiant; let i = index">
                    <button (click)="deleteValidatorOrParcipiant(participant.nickName, 'inviteParcipiant')" type="button"
                        class="btn btn-info btn-sm">{{participant.nickName}} <fa-icon [icon]="faTimes"></fa-icon></button>
                </div>
            </div>
        </div>

        <!-- Invite validators -->

        <div class="form-group">
            <label for="invite_validators">Invite validators <b style="font-size: 12px">*optional</b></label>
            <input id="invite_validators" type="text" class="form-control" (selectItem)="selectedValidators($event)"
                [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false' />
            <div style="padding-top:10px">
                <div class="display_validators" *ngFor="let validator of inviteValidators; let i = index">
                    <button (click)="deleteValidatorOrParcipiant(validator.nickName, 'inviteValidators')" type="button"
                        class="btn btn-info btn-sm">{{validator.nickName}} <fa-icon [icon]="faTimes"></fa-icon></button>
                </div>
            </div>

        </div>

        <!-- Amount Validators -->

        <div class="form-group">
            <label>Amount of Validators <b style="font-size: 12px">*required</b></label>
            <input [ngClass]="{ 'is_invalid': submitted && f.amountOfValidators.errors }" class="form-control" type="number"
                formControlName="amountOfValidators" placeholder="Enter amount of validators">
            <div *ngIf="submitted && f.amountOfValidators.errors">
                <small *ngIf="f.amountOfValidators.errors.min" class="form-text quize_validation_error">Minimum amount is
                    1 Validator</small>
                <small *ngIf="f.amountOfValidators.errors.required" class="form-text quize_validation_error">Minimum amount is
                    1 Validator</small>
            </div>
        </div>

        <!-- Amount Etherium -->

        <div class="form-group">
            <label>Bet amount <b style="font-size: 12px">*required</b></label>
            <input [ngClass]="{ 'is_invalid': submitted && f.amount.errors }" class="form-control" type="number"
                formControlName="amount" placeholder="Enter your amount">
            <div *ngIf="submitted && f.amount.errors">
                <small *ngIf="f.amount.errors.min" class="form-text quize_validation_error">Minimum amount is
                    0.01 Etherium</small>
                <small *ngIf="f.amount.errors.required" class="form-text quize_validation_error">Minimum amount is
                    0.01 Etherium</small>
            </div>
        </div>

        <div class="form_container button_pos">
            <button type="submit" class="btn btn-success btn-lg btn-block">Create</button>
        </div>
    </form>

    <div style="text-align: center" *ngIf="generatedLink !== undefined">
        <p>Your question link is -></p>
        <a [routerLink]="['/~ki339203/question', generatedLink]" style="font-style: oblique">http://localhost:4200/question/{{generatedLink}}</a>
    </div>

    <button (click)="testGetId()">TEST</button>
    <button (click)="testGetTime()">TEST</button>

</div>