<div class="box">
  <p class="comfirm">CONFIRM EVENT</p>

  <div class="quizBox">
    <p class="quizName">{{formData.question}}</p>
  </div>

  <div class="label">
    <div class="CommentYellow"></div>
    <p>possible outcomes</p>
  </div>
  <div *ngFor="let answer of formData.answers">
    <div class="answerBox">
      <p class="answer">{{answer.name}}</p>
    </div>
  </div>
  <div *ngIf="formData.resolutionDetalis != ''">
    <div class="label" style="padding-top: 16px;">
      <div class="LightYellow"></div>
      <p class="mt-1">HOW TO VERIFY</p>
    </div>
    <div class="answerBox">
      <p class="answer">{{formData.resolutionDetalis}}</p>
    </div>
  </div>
  <div class="label" style="padding-top: 16px;">
    <div class="BetWith"></div>
    <p class="labelNamePos">BET WITH</p>
  </div>
  <div class="answerBox">
    <p class="answer">{{betWith()}}</p>
  </div>

  <div class="timeBox">
    <div class="timeBoxOne">
      <div class="label">
        <div class="ClockYellow"></div>
        <p class="labelNamePos">betting time</p>
      </div>
      <div class="answerBox">
        <p class="answer">{{timeToBet()}}</p>
      </div>
    </div>
    <div class="timeBoxTwo">
      <div class="label">
        <div class="ExpertsYellow"></div>
        <p class="labelNamePos">NO. of EXPERTS</p>
      </div>
      <div class="answerBox">
        <p class="answer">{{expertsName()}}</p>
      </div>
    </div>
  </div>

  <div class="label">
    <div class="BoxYellow"></div>
    <p class="labelNamePos">ROOM</p>
  </div>
  <div class="answerBox">
    <p class="answer">{{formData.roomName}}</p>
  </div>

  <p class="info mt-3">The event ends after all Experts validate.</p>

  <div class="buttonBox">
    <button type="button" class="cancel" (click)="cancel()">Back</button>
    <button type="button" class="next" (click)="createEvent()">Create</button>
  </div>
</div>

<app-spinner-loading *ngIf="spinnerLoading"></app-spinner-loading>

