<div class="box">
    <div class="titleBox">
        <div [class]=getImgFlag()></div>
        <p class="title" [style]="titleColor()">EVENT ENDED</p>
    </div>
    <div class="roomBox">
        <p class="roomName">ROOM: Avengers</p>
    </div>
    <div *ngIf="userData && info !== undefined">
        <div class="statusContainer">
            <div *ngIf="host" class="statusBox hostBorder">
                <p [ngClass]="{'hostStatus': host}" class="status">YOU EARNED</p>
                <p [ngClass]="{'hostAmount': host}" class="amount" [ngStyle]="getAmountColor(status)">{{getHostWin()}}</p>
                <p class="host">AS <span style="color: #FFD200">HOST</span></p>
            </div>
            <div class="statusBox">
                <p [ngClass]="{'hostStatus': host}" class="status">{{status}}</p>
                <p [ngClass]="{'hostAmount': host}" class="amount" [ngStyle]="getAmountColor(status)">{{amount}}</p>
                <p *ngIf="host" class="host">AS <span [style]="roleColor()">{{role}}</span></p>
            </div>
        </div>
        <p class="infoWinner" [innerHTML]="info"></p>
    </div>
    <div>
        <div class="boxInfo">
            <div class="boxSmall">
                <div class="infoImg"
                    (click)="openInfoModal('Participants - ', 'Total number of Players and Experts who joined the event.', 'Learn more about how Bettery works')">
                </div>
                <div class="partsImg"></div>
                <p class="name">Participants</p>
                <p class="number">{{playersCount()}}</p>
            </div>
            <div class="boxBig">
                <div class="infoImg"
                    (click)="openInfoModal('Total Bet - ', 'Total value of all bets made by winners and losers of the event.', 'Learn more about how Bettery works')">
                </div>
                <div class="totalImg"></div>
                <p class="name">Total Bet</p>
                <p class="number">{{totalBet()}} {{coinType}}</p>
            </div>
        </div>
        <div class="boxInfo">
            <div class="boxSmall">
                <div class="infoImg"
                    (click)="openInfoModal('Tokens Minted - Coming soon!', 'Each event on Bettery platform generates a certain amount of BTY depending on how many participants joined, given back to the Host, Players, Experts, and other roles (if any).', 'Learn more about how Bettery works')">
                </div>
                <div class="minedImg"></div>
                <p class="name">Minted</p>
                <a class="comingSoon"
                    (click)="openInfoModal('Tokens Minted - Coming soon!', 'Each event on Bettery platform generates a certain amount of BTY depending on how many participants joined, given back to the Host, Players, Experts, and other roles (if any).', 'Learn more about how Bettery works')">Coming
                    soon!</a>
            </div>
            <div class="boxBig">
                <div class="infoImg"
                    (click)="openInfoModal('Biggest Wins - ', ' The amount won by the winning Player who made the highest bet in the event.', 'Learn more about how Bettery works')">
                </div>
                <div class="bestWinImg"></div>
                <p class="name">Biggest Wins</p>
                <p class="number">{{biggestWin()}} {{coinType}}</p>
            </div>
        </div>
    </div>

    <div class="quizBoxTwo">
        <p class="quizText">{{eventData?.question}}</p>
    </div>

    <div *ngFor="let answer of eventData.answers; index as i">
        <div class="answerBoxCreated" *ngIf="eventData.finalAnswer != i">
            <div class="answer_box">
                <div class="answerAvatarBox">
                    <p class="answerCreated">{{answer}}</p>
                    <img *ngIf="userData && !winner" class="avatarHost partPostAvatar" src={{userData.avatar}}
                        referrerpolicy="no-referrer">
                </div>
                <p class="viewMore" (click)="viewMoreToggle(i)">{{viewMore == i ? 'View less' : 'View more'}}</p>
            </div>
            <div class="viewMoreBox" *ngIf="viewMore == i">
                <div class="hrloser"></div>
                <div class="infoBox">
                    <span class="abount loserColor"><b>{{playersBet(i)}} Players</b> bet
                        <b>({{playersPers(i)}})</b></span>
                    <span class="abount loserColor">Total bet:</span>
                </div>
                <div class="infoBox">
                    <span class="abount loserColor"><b>{{expertsBet(i)}} Experts</b> validated</span>
                    <span class="abount loserColor"><b>{{totalBetAmount(i)}} {{currencyType}}</b></span>
                </div>
            </div>
        </div>
        <div class="answer_active" *ngIf="i == eventData?.finalAnswer">
            <div class="d-flex justify-content-between">
                <div class="mb-2">
                    <p class="answerColor">{{answer}}</p>
                </div>
                <div class="check_img"></div>
            </div>
            <div class="hr"></div>
            <div>
                <div class="infoBox">
                    <span class="abount"><b>{{playersBet(i)}} Players</b> bet <b>({{playersPers(i)}})</b></span>
                    <span class="abount">Prize pool:</span>
                </div>
                <div class="infoBox">
                    <span class="abount"><b>{{expertsBet(i)}} Experts</b> validated</span>
                    <span class="abount"><b>{{pool}} {{currencyType}}</b></span>
                </div>

            </div>
        </div>
    </div>

    <div class="arrow"></div>

    <div>
        <div class="infoLabelPos">
            <p class="infoLabel">HOST:</p>
            <div class="hostBox">
                <p class="nameInfo">{{eventData?.host.nickName}}</p>
                <img class="avatarHost" src={{eventData?.host.avatat}} referrerpolicy="no-referrer">
            </div>
        </div>
        <div class="infoLabelPos">
            <p class="infoLabel">PLAYERS joined:</p>
            <div class="partBox">
                <div *ngFor="let part of eventData.parcipiantAnswers; index as i">
                    <div [ngStyle]="getPartPos(i)">
                        <img *ngIf="i <= 3" class="partImg" referrerpolicy="no-referrer" src="{{part.avatar}}">
                    </div>
                </div>
                <p class="nameInfo playersNumber">{{playersCount()}}</p>
            </div>
        </div>
        <div class="infoLabelPos">
            <p class="infoLabel">EXPERTS joined:</p>
            <div class="partBox">
                <div *ngFor="let valid of eventData.validatorsAnswers; index as i">
                    <div [ngStyle]="getPartPos(i)">
                        <img *ngIf="i <= 3" class="partImg" referrerpolicy="no-referrer" src="{{valid.avatar}}">
                    </div>
                </div>
                <p class="nameInfo playersNumber">{{expertCount()}}</p>
            </div>
        </div>
    </div>

    <div class="ques_box" *ngIf="!userData">
        <p class="ques_text">“Will it rain tomorrow?” - Free coffee if I’m right. Bet with friends on events that are
            truly yours.</p>
    </div>

    <div class="share_event" *ngIf="winner">
        <p class="shate_event_info">Had a good time? Share this memory with friends and invite them to your own event!
        </p>
        <p style="text-align: center;"><a class="linkWrap" href="#">www.bettery.io/public_event/{{eventData.id}}</a></p>
        <div class="share_img" (click)="copyToClickBoard()"></div>
    </div>

    <a routerLink="/create-event" class="becomeHost">{{createEventText()}}</a>
    <div>
        <div class="commentBox">
            <div class="commentHeader">
                <div class="senderBox">
                    <div class="commentImg face1"></div>
                    <p class="commentName">Jenna Logan</p>
                </div>
                <div class="timeBox">1 day ago</div>
            </div>
            <div>
                <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua.</p>
            </div>
        </div>

        <div class="commentBox">
            <div class="commentHeader">
                <div class="senderBox">
                    <div class="commentImg face2"></div>
                    <p class="commentName">Terry Crews</p>
                </div>
                <div class="timeBox">1 day ago</div>
            </div>
            <div>
                <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>