<div class="box">
    <div class="titleBox">
        <div class="flagImg"></div>
        <p class="title">EVENT ENDED</p>
    </div>
    <div class="roomBox">
        <p class="roomName">ROOM: Avengers</p>
    </div>
    <div *ngIf="userData && info !== undefined">
        <p class="status">{{status}}</p>
        <p class="amount" [ngStyle]="getAmountColor(status)">{{amount}}</p>
        <p class="infoWinner" [innerHTML]="info"></p>
    </div>
    <div>
        <div class="boxInfo">
            <div class="boxSmall">
                <div class="infoImg"
                    (click)="openInfoModal('Participants - ', 'Total number of Players and Experts who joined the event.', 'Learn more about how Bettery works')">
                </div>
                <div class="partsImg"></div>
                <p class="name">Participants</p>
                <p class="number">{{playersCount()}}</p>
            </div>
            <div class="boxBig">
                <div class="infoImg"
                    (click)="openInfoModal('Total Bet - ', 'Total value of all bets made by winners and losers of the event.', 'Learn more about how Bettery works')">
                </div>
                <div class="totalImg"></div>
                <p class="name">Total Bet</p>
                <p class="number">{{totalBet()}}</p>
            </div>
        </div>
        <div class="boxInfo">
            <div class="boxSmall">
                <div class="infoImg"
                    (click)="openInfoModal('Tokens Minted - Coming soon!', 'Each event on Bettery platform will generate a certain amount of BTY depending on how many participants joined, given as extra bonuses to Hosts, winning Players, and Experts.', 'Learn more about how Bettery works')">
                </div>
                <div class="minedImg"></div>
                <p class="name">Minted</p>
                <a class="comingSoon"
                    (click)="openInfoModal('Tokens Minted - Coming soon!', 'Each event on Bettery platform will generate a certain amount of BTY depending on how many participants joined, given as extra bonuses to Hosts, winning Players, and Experts.', 'Learn more about how Bettery works')">Coming
                    soon!</a>
            </div>
            <div class="boxBig">
                <div class="infoImg"
                    (click)="openInfoModal('Biggest Wins - ', ' The amount won by the winning Player who made the highest bet in the event.', 'Learn more about how Bettery works')">
                </div>
                <div class="bestWinImg"></div>
                <p class="name">Biggest Wins</p>
                <p class="number">TODO</p>
            </div>
        </div>
    </div>

    <div class="quizBoxTwo">
        <p class="quizText">{{eventData?.question}}</p>
    </div>

    <div *ngFor="let answer of eventData.answers; index as i">
        <div class="answerBoxCreated" *ngIf="eventData.finalAnswer != i">
            <p class="answerCreated">{{answer}}</p>
        </div>
        <div class="answer_active" *ngIf="i == eventData?.finalAnswer">
            <div class="d-flex justify-content-between">
                <div class="mb-2">
                    <p class="answerColor">{{answer}}</p>
                </div>
                <div class="check_img"></div>
            </div>
            <div class="hr"></div>
            <div>
                <div class="infoBox">
                    <span class="abount"><b>{{playersBet()}} Players</b> bet <b>({{playersPers()}})</b></span>
                    <span class="abount">Total win:</span>
                </div>
                <div class="infoBox">
                    <span class="abount"><b>{{expertsBet()}} Experts</b> validated <b>({{expertPers()}})</b></span>
                    <span class="abount"><b>{{pool}} {{currencyType}}</b></span>
                </div>

            </div>
        </div>
    </div>

    <div class="arrow"></div>

    <div>
        <div class="infoLabelPos">
            <p class="infoLabel">HOST:</p>
            <div class="hostBox">
                <p class="nameInfo">{{eventData?.host.nickName}}</p>
                <img class="avatarHost" src={{eventData?.host.avatat}} referrerpolicy="no-referrer">
            </div>
        </div>
        <div class="infoLabelPos">
            <p class="infoLabel">PLAYERS joined:</p>
            <div class="partBox">
                <div *ngFor="let part of eventData.parcipiantAnswers; index as i">
                    <div [ngStyle]="getPartPos(i)">
                        <img *ngIf="i <= 3" class="partImg" referrerpolicy="no-referrer" src="{{part.avatar}}">
                    </div>
                </div>
                <p class="nameInfo playersNumber">{{playersCount()}}</p>
            </div>
        </div>
        <div class="infoLabelPos">
            <p class="infoLabel">EXPERTS joined:</p>
            <div class="partBox">
                <div *ngFor="let valid of eventData.validatorsAnswers; index as i">
                    <div [ngStyle]="getPartPos(i)">
                        <img *ngIf="i <= 3" class="partImg" referrerpolicy="no-referrer" src="{{valid.avatar}}">
                    </div>
                </div>
                <p class="nameInfo playersNumber">{{expertCount()}}</p>
            </div>
        </div>
    </div>

    <div class="share_event">
        <h4>What an earn! Host more events and grow your community.</h4>
        <p style="text-align: center;"><a href="#">www.bettery.io/public_event/{{eventData.id}}</a></p>
        <div class="share_img" (click)="copyToClickBoard()"></div>
    </div>

    <a href="#" class="becomeHost">CREATE YOUR OWN EVENT</a>
    <div>
        <div class="commentBox">
            <div class="commentHeader">
                <div class="senderBox">
                    <div class="commentImg face1"></div>
                    <p class="commentName">Jenna Logan</p>
                </div>
                <div class="timeBox">1 day ago</div>
            </div>
            <div>
                <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua.</p>
            </div>
        </div>

        <div class="commentBox">
            <div class="commentHeader">
                <div class="senderBox">
                    <div class="commentImg face2"></div>
                    <p class="commentName">Terry Crews</p>
                </div>
                <div class="timeBox">1 day ago</div>
            </div>
            <div>
                <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>