<div>
    <p class="welcome">WELCOME, PLAYER!</p>
    <div>
        <div class="questionBox">
            <p class="question">{{eventData.question}}</p>
        </div>
        <form [formGroup]="answerForm">
            <div *ngFor="let answer of eventData.answers">
                <div class="pretty p-default p-round inline checkBackGround">
                    <input type="radio" value={{answer}} formControlName="answer">
                    <div class="state white checkPos">
                        <label> </label>
                    </div>
                    <p class="label">{{answer}}</p>
                </div>
            </div>
            <div *ngIf="submitted && f.answer.errors">
                <small *ngIf="f.answer.errors.required" class="form-text quize_validation_error">Answer is
                    required</small>
            </div>
            <div>
                <p class="event">YOUR BET</p>
                <div class="inputBox">
                    <input type="number" formControlName="amount" class="answer" id="amount"
                        min="coinType == 'BTY' ? 1 : 0.01" placeholder="1 {{coinType}}"
                        [ngClass]="{ 'is_invalid': submitted && f.amount.errors }">
                </div>
                <div *ngIf="submitted && f.amount.errors">
                    <small *ngIf="f.amount.errors.required" class="form-text quize_validation_error">Amount is
                        required</small>
                    <small *ngIf="f.amount.errors.min" class="form-text quize_validation_error">Minimum amount is
                        {{coinType == 'BTY' ? 1 : 0.01}}</small>
                </div>
            </div>
            <p class="infoEmial">We’ll notify the results to your email</p>
            <p class="email">{{userData.email}}</p>

            <div *ngIf="errorMessage">
                <div class="errorImg"></div>
                <p class="errMsg">{{errorMessage}}</p>
            </div>
            <div class="buttonBox">
                <button type="button" class="cancel" (click)="cancel()">BACK</button>
                <button type="button" class="nextPlayer" (click)="bet()">BET</button>
            </div>
        </form>
    </div>
</div>

<app-spinner-loading *ngIf="spinnerLoading"></app-spinner-loading>