<div class="container">
    <div *ngIf="!spinner">
        <div class="filterCheckBox">
            <div class="filter_box">
                <label for="participatedFilter">
                    <input id="participatedFilter" [(ngModel)]="parcipiantFilter" (click)="filter()" type="checkbox">
                    As participant ({{this.getActiveQuantity("Participant")}})</label>
            </div>
            <div>
                <label for="validatedFilter">
                    <input id="validatedFilter" [(ngModel)]="validateFilter" (click)="filter()" type="checkbox">
                    As validator ({{this.getActiveQuantity("Validate")}})</label>
            </div>
        </div>

        <div *ngIf="myActivites.length === 0">
            <p class="dontActivites">Don't have any activites.</p>
        </div>

        <div *ngIf="myActivites.length !== 0" class="question_cards">
            <div *ngFor="let active of myActivites; let index = index">
                <quiz-template [coinInfo]="coinInfo" [fromComponent]="fromComponent" [myAnswers]="myAnswers[index]" [userData]="userData"
                [question]="active.event" (deleteInvitationId)="deleteInvitation($event)" (callGetData)="getData()"></quiz-template>
            </div>
        </div>
    </div>
</div>