<div class="modal-header my-modal-header">
  <div class="boxImg">
    <div class="red-elipse"></div>
  </div>
  <button type="button" class="close border-hover" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body my-modal-body">
  <h3 class="title-mod">Cannot Host Event</h3>
 <p class="text">
   Sorry, you can't host this event right now since you're currently hosting 5 other events.
 </p>
  <p class="text">
    <b>Absolutely need to host more?</b> Drop us a message on Telegram - let’s sort it out.
  </p>
  <button class="button-main"><a href="https://t.me/bettery_io">CONTACT US</a></button>
</div>
