p, h1, h2, h3
  margin: 0
.main
  color: #0B1511
  max-width: 1440px
  margin: -20px auto 0 auto
  background: white
  overflow: hidden

nav
  display: flex

.logo
  background: url("../../../assets/landingPage/logo-main.png") left center no-repeat
  background-size: contain
  width: 169px
  height: 120px

.nav_bar
  padding-left: 0
  & li
    display: inline-block
    margin-right: 32px
    cursor: pointer
    & a
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 20px
      color: #000000
    & div
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 20px
      color: #000000

.tgr-img:before
  content: url("../../../assets/landingPage/telegramNav.png")
  width: 24px
  height: 24px
  position: absolute
  top: 1%
  left: -20%

.dropdown-toggle:empty::after
  display: none

.icon-bar-img
  background: url("../../../assets/landingPage/btn-nav.png") left center no-repeat
  background-size: contain
  width: 28px
  height: 28px
  cursor: pointer

  &:active
    background-color: #9E9E9E
.lang-2
  width: 58px
  height: 29px

.mobile_nav
  display: none

.correct-left
  left: -153px !important
  width: 180px

@media (max-width: 1023px)
  nav
    display: none
  .mobile_nav
    display: block

  .btn_text
    color: #0EAF5C
    font-weight: normal !important
    font-size: 16px
    line-height: 20px
    & span
      font-weight: bold


@media (max-width: 1260px)
  .nav_bar
    & :last-child
      margin-right: 0
    & li
      margin-right: 18px


@media (max-width: 1100px)
  .nav_bar
    & li
      & a
        font-size: 12px
      & div
        font-size: 12px



//=============== header =====================
header
  display: flex
  padding: 100px 0 42px 0

.title
  margin-bottom: 21px
  background: url("../../../assets/landingPage/greenLine1.png") 38% 98% no-repeat
  background-size: 520px 24px

  & h1
    font-weight: bold
    font-size: 56px
    line-height: 64px

.title_text
  margin-bottom: 64px

  & p
    font-weight: normal
    font-size: 18px
    line-height: 28px

.btn_title
  & button
    padding: 8px 30px
    text-align: center
    font-weight: bold
    font-size: 16px
    line-height: 28px
    background: #54DD96
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16)
    border-radius: 22px
    border: none
    color: #0B1511

.btn_text
  font-weight: bold
  font-size: 22px
  line-height: 28px
  margin-bottom: 16px

.player
  display: flex
  align-items: center
  justify-content: center

  & p
    font-weight: bold
    font-size: 16px
    line-height: 20px
    text-align: center

.mobile_img
  margin-top: 78px
  display: none

.bg_header
  background: url("../../../assets/landingPage/basice_img.png") center top no-repeat
  background-size: contain
  width: 100%
  height: 320px

@media (max-width: 1023px)
  .mobile_img
    display: block


//========= second ===========
.bettery_work
  background: url("../../../assets/landingPage/bg1.png") 88% 1% no-repeat
  background-size: 100px 75px

.card_item
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  padding: 16px 12px 31px 12px
  background: #FFFFFF
  border: 1px solid #EEEEEE
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1)
  border-radius: 32px
  cursor: pointer
  margin: 0 auto

  & h3
    font-weight: 600
    font-size: 18px

.bg-hover:hover
  background-color: #FDD92A

.box_left
  display: flex
  flex-direction: column
  flex-wrap: wrap

.box_right
  display: flex
  flex-direction: column
  justify-content: center

.img_man
  background: url("../../../assets/landingPage/man1.png") left center no-repeat
  background-size: contain
  width: 21.5px
  height: 44px

.img_mans2
  background: url("../../../assets/landingPage/mans2.png") left center no-repeat
  background-size: contain
  width: 39px
  height: 39px

.img-section2
  background: url("../../../assets/landingPage/section2.png") left center no-repeat
  background-size: contain
  width: 64px
  height: 64px

.round
  border-radius: 100%
  width: 64px
  height: 64px
  background: #FDD92A
  padding-top: 9px
  padding-left: 20px

.correct
  padding-left: 13px

.bettery_work_title
  display: flex
  align-items: center

  & h2
    font-weight: 600
    font-size: 50px

  & p
    font-size: 18px
    line-height: 28px

//================== third =================

.third
  display: flex
  padding-bottom: 212px
  background: url("../../../assets/landingPage/bg2.png") 10% 80% no-repeat
  background-size: 100px 75px

.third-left
  display: flex
  align-items: center
  padding-top: 95px

  & p
    font-weight: normal
    font-size: 18px
    line-height: 28px

.third-right
  padding-left: 58px
  margin: 0 auto


.img-choose
  background: url("../../../assets/landingPage/Group31.png") left center no-repeat
  background-size: contain
  width: 600px
  height: 592px

.title_h2
  & h2
    font-weight: 600
    font-size: 50px
    line-height: 56px

//=========== 4th =================

.four
  padding-bottom: 259px
  background: url("../../../assets/landingPage/bg4.png") 10% 90% no-repeat
  background-size: 86px 58px

.four_top
  text-align: center

  & h2
    font-weight: 600
    font-size: 50px
    line-height: 56px

  & p
    font-size: 18px
    line-height: 28px

.four_card
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  padding: 16px 20px 16px 20px
  margin: 22px 20px 0 20px
  background: #FFFFFF
  border: 1px solid #EEEEEE
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1)
  border-radius: 32px
  cursor: pointer

  & img
    width: 37px
    height: 37px

  & h3
    font-weight: bold
    font-size: 18px
    line-height: 22px

  & p
    font-weight: normal
    font-size: 14px
    line-height: 20px

.correct-img
  & img
    width: 52px
    height: 26px

.four_bottom
  display: flex
  flex-wrap: wrap

.img_bg_yellow
  background: url("../../../assets/landingPage/Mask.png") left center no-repeat
  background-size: contain
  width: 69px
  height: 79px

//========== five ================
.five
  padding-bottom: 260px
  background: url("../../../assets/landingPage/bg3.png") 95% 90% no-repeat
  background-size: 80px 69px

.five_top
  text-align: center

  & h2
    font-weight: 600
    font-size: 40px
    line-height: 48px
    text-align: center
    padding-bottom: 16px

  & p
    font-size: 18px
    line-height: 28px
    text-align: center

.five_bottom
  display: flex
  flex-wrap: wrap
  justify-content: center

.img-quoteLeft
  background: url("../../../assets/landingPage/quote-left.png") left center no-repeat
  background-size: contain
  width: 179px
  height: 37px

.img-avatar
  background: url("../../../assets/landingPage/Oval.png") left center no-repeat
  background-size: contain
  width: 65px
  height: 65px

.img-avatar2
  background: url("../../../assets/landingPage/Oval2.png") left center no-repeat
  background-size: contain
  width: 65px
  height: 65px

.img-avatar3
  background: url("../../../assets/landingPage/Oval3.png") left center no-repeat
  background-size: contain
  width: 65px
  height: 65px

.reversBorder
  border-radius: 0 32px !important

.comment_card
  border: 3px solid #E0E4F3
  box-sizing: border-box
  box-shadow: 4px 4px 0 #FDD92A
  border-radius: 32px 0 32px 4px
  padding: 16px 12px 23px 12px
  margin: 50px 20px 0 20px
  background-color: #FFFFFF

  & p
    font-style: italic
    font-weight: 600
    font-size: 16px
    line-height: 20px

.name
  & p
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 24px

  & span
    font-style: italic
    font-weight: 600
    font-size: 16px
    line-height: 24px

//============= Road map ======================
.road-map
  margin-bottom: 240px
  margin-left: 0
  margin-right: 0

.road-map-top
  margin-bottom: 75px

  & h2
    font-weight: 600
    font-size: 40px
    line-height: 48px
    text-align: center
    padding-bottom: 16px

  & p
    font-size: 18px
    line-height: 28px
    text-align: center

.img-yellow_5
  background: url("../../../assets/landingPage/Mask.png") left center no-repeat
  background-size: contain
  width: 120px
  height: 120px
  margin: auto
  display: flex
  justify-content: center
  align-items: center

.text_road
  font-weight: bold
  font-size: 16px
  line-height: 20px
  text-align: center

  & span
    color: #54DD96
    font-weight: 900

.green-box
  background: #54DD96
  border-radius: 8px
  padding: 28px 16px 24px 16px
  margin-top: 49px

  font-weight: 600
  font-size: 16px
  line-height: 20px
  text-align: center

.road-map-mobile
  text-align: center
  display: none

.card-date
  text-transform: uppercase
  border-top-left-radius: 24px
  border-top-right-radius: 24px
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1)
  background-color: #28354C
  color: #54DD96

.acti
  background-color: #54DD96
  color: #0B1511

.card-mob-text
  border-bottom-left-radius: 24px
  border-bottom-right-radius: 24px
  font-weight: normal
  font-size: 16px
  line-height: 20px

  background: #FFFFFF
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1)

.hr
  width: 100%
  height: 4px
  background: #E0E4F3
  border-radius: 4px
  position: absolute
  top: 58%
  left: 0

.hr-green
  width: 12%
  height: 4px
  background: #54DD96
  border-radius: 4px
  position: absolute
  left: 0
  top: 58%

.green-ball
  width: 16px
  height: 16px
  background: #54DD96
  border-radius: 100%
  position: absolute
  left: 11.4%
  top: 56%

.balls
  width: 16px
  height: 16px
  background: #E0E4F3
  border-radius: 100%
  position: absolute
  left: 36.4%
  top: 56%
.balls-rest :nth-child(7)
    left: 61.5%
    top: 56%
.balls-rest :nth-child(8)
    left: 86.5%
    top: 56%

@media (max-width: 995px)
  .road-map-mobile
    display: block
  .road-map-desctop
    display: none

//  ========= Team ==========
.team
  margin-bottom: 100px

.item_team
  text-align: center

.img_team_logo
  background: url("../../../assets/landingPage/logoTeam.png") left center no-repeat
  background-size: contain
  width: 185px
  height: 140px
  margin: auto

.img_team_avatar
  background: url("../../../assets/landingPage/team_avatar.png") left center no-repeat
  background-size: contain
  width: 150px
  height: 150px
  margin: auto

.img_team_avatar2
  background: url("../../../assets/landingPage/team_avater2.png") left center no-repeat
  background-size: contain
  width: 150px
  height: 150px
  margin: auto

.img_team_avatar3
  background: url("../../../assets/landingPage/team_avatar3.png") left center no-repeat
  background-size: contain
  width: 150px
  height: 150px
  margin: auto

.img_team_linkedin
  margin: auto

  & img
    width: 18px


.team_card_name
  margin-bottom: 16px

  & h4
    font-weight: bold
    font-size: 18px
    line-height: 27px

  & p
    font-style: italic
    font-weight: 600
    font-size: 14px
    line-height: 21px
    text-align: center
    color: #616161

.team_card_text
  font-weight: 600
  font-size: 14px
  line-height: 20px
  text-align: center
  color: #0B1511


//======== footer ===========

footer
  padding-top: 72px
  padding-bottom: 85px
  background: #000000
  color: #9E9E9E
  font-weight: normal
  font-size: 14px
  line-height: 20px

  & p
    padding-bottom: 16px

  & input
    background: rgba(253, 217, 42, 0.0464926)
    border: 1px solid #FDD92A
    box-sizing: border-box
    border-radius: 20px

    &::placeholder
      font-style: italic
      font-weight: normal
      font-size: 14px
      line-height: 20px
      color: #9E9E9E

  & button
    background: #FDD92A
    border-radius: 0 100px 100px 0

.h4
  font-weight: 600
  font-size: 18px
  line-height: 27px
  color: #E6E6E6

.footer-left a
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 24px
  color: #FDD92A

.img_mail
  background: url("../../../assets/landingPage/mail.png") left center no-repeat
  background-size: contain
  width: 32px
  height: 32px
  margin-top: 5px

.img_telegram
  background: url("../../../assets/landingPage/telegram.png") left center no-repeat
  background-size: contain
  width: 32px
  height: 32px
  margin-top: 5px

.bg-main
  background: url("../../../assets/landingPage/left.png") left 14% no-repeat, url("../../../assets/landingPage/left.png") left 43% no-repeat, url("../../../assets/landingPage/left.png") left 81% no-repeat, url("../../../assets/landingPage/right.png") right 58% no-repeat #FFFFFF
.bg-basic-img
  background:  url("../../../assets/landingPage/main.png") 123% -54px no-repeat
  background-size: 49%

@media(max-width: 1023px)
  .bg-basic-img
    background:  none


@media (max-width: 768px)
  header
    padding: 60px 15px 42px 15px
  .third
    padding-bottom: 40px
  .four
    padding-bottom: 140px
  .five
    padding-bottom: 140px
  .road-map
    margin-bottom: 140px


@media (max-width: 1000px)
  .title
    & h1
      font-size: 28px
      line-height: 35px
      font-weight: 700
  h2
    font-size: 28px !important
    line-height: 32.5px !important

  .title_text,.bettery_work_title,.third-title,.four_top,.five_top,.road-map-top
    & p
      font-size: 16px
      line-height: 20px

//============ modal setting ================

.slide_img
  background: url("../../../assets/landingPage/slides.png")
  background-size: contain
  width: 62px
  height: 84px

.modal_left
  & p
    font-size: 18px
    line-height: 28px
  & span
    font-style: italic
    font-weight: bold
  & a
    text-align: center
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 30px
    color: #54DD96

.modal_right
  & p
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-align: center
    color: #0B1511
  & a
    font-size: 16px
    line-height: 20px

.modal-title
  font-weight: bold
  font-size: 32px
  line-height: 40px

.modal-box
  padding: 32px 30px 52px 30px

.vertical-hr
  mix-blend-mode: normal
  opacity: 0.2
  border-left: 1px solid #979797

@media (max-width: 578px)
  .vertical-hr
    border-left: none
    border-bottom: 1px solid #979797
    margin: 10px 0 10px 0



//============ remove background img in mobile ==============

@media (max-width: 1000px)
  .bettery_work
    background: none
  .third
    background: none
  .four
    background: none
  .five
    background: none

