<div class="main_wrapper">
  <div class="main bg-main">
    <div class="bg-basic-img">
      <nav [class]="scrollHideMenu ? 'nav-hide': 'nav-show' "
           [style]="styleHideMenu ? 'background-color: transparent;box-shadow: none' : 'background-color: #fdd92a' "
           class="container-fluid row d-flex align-items-center pb-2">
        <div class="col-3 col-lg-2 logo"></div>
        <div class="d-flex align-items-center col-lg-9 mt-4 pl-pr-0">
          <ul class="nav_bar">
            <li class="nav_bar_item">
              <a href="#social" pageScrollOffset="100" pageScroll>{{'NAVBAR.ITEM_1' | translate}}</a>
            </li>
            <li class="nav_bar_item">
              <a href="#getStarted" (click)="styleHideMen()" pageScroll>{{'NAVBAR.ITEM_2' | translate}}</a>
            </li>
            <li class="nav_bar_item">
              <a href="#whyBettery" (click)="styleHideMen()" pageScrollOffset="100" pageScroll>{{'NAVBAR.ITEM_3' | translate}}</a>
            </li>
            <li class="nav_bar_item">
              <a href="#tokenSale" (click)="styleHideMen()" pageScrollOffset="100" pageScroll>{{'NAVBAR.ITEM_4' | translate}}</a>
            </li>
            <li class="nav_bar_item">
              <a href="#roadmap" (click)="styleHideMen()" pageScrollOffset="100" pageScroll>{{'NAVBAR.ITEM_5' | translate}}</a>
            </li>
            <li class="nav_bar_item">
              <a href="#team" (click)="styleHideMen()" pageScrollOffset="100" pageScroll>{{'NAVBAR.ITEM_6' | translate}}</a>
            </li>
            <li class="nav_bar_item">
              <a href="#BusinessDemo" pageScroll>{{'NAVBAR.ITEM_7' | translate}}</a>
            </li>
            <li class="nav_bar_item">
              <a href="#">{{'NAVBAR.ITEM_8' | translate}}</a>
            </li>
            <li (click)="open(content)" class="nav_bar_item position-relative ml-3">
              <a class="questionMark-img" href="#">{{'NAVBAR.ITEM_9' | translate}}</a>
            </li>
            <li class="nav_bar_item position-relative ml-3">
              <a class="tgr-img" target="_blank" href="https://t.me/bettery_io">{{'NAVBAR.ITEM_10' | translate}}</a>
            </li>
          </ul>
        </div>
        <!--  DO NOT HAVE TRANSLATE FOR VETNAMESE LANGUAGE -->
        <!-- <div class="d-flex align-items-center pb-3 col-lg-1 lang-1 mt-4">
          <select id="language1" (change)="changeLocale()" [(ngModel)]="selectedLanguage">
            <option *ngFor="let language of languages" [value]="language.id">{{ language.title }}</option>
          </select>
        </div> -->
      </nav>

      <div [class]="scrollHideMenu ? 'nav-hide': 'nav-show' "
           [style]="styleHideMenu ? 'background-color: transparent;box-shadow: none' :'background-color: #fdd92a' "
           class="mobile_nav container-fluid">
        <div class="d-flex align-items-center justify-content-between row">
          <div class="logo col-4 my-2"></div>

          <div class="btn_short col-4 d-flex justify-content-end">
            <div class="d-flex align-items-center">
              <div (click)="open(content)" class="mr-3">
                <a href="#"><img style="width: 24px; height: 26px"
                                 src="../../../assets/landingPage/questionMark.png" alt="tel"></a>
              </div>
              <div class="mobile_img_path mr-3"><a href="https://t.me/bettery_io" target="_blank"><img
                src="../../../assets/landingPage/Path-yellowe2.png" alt="tel"></a></div>
              <div class="mr-2">
                <select style="display: none" id="language" (change)="changeLocale()" [(ngModel)]="selectedLanguage">
                  <option *ngFor="let language of languages" [value]="language.id">{{ language.id }}</option>
                </select>
              </div>
              <div ngbDropdown class="d-inline-block">
                <div class="icon-bar-img" id="dropdownBasic1" ngbDropdownToggle></div>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="correct-left">
                  <a href="#social2" ngbDropdownItem pageScroll>{{'NAVBAR.ITEM_1' | translate}}</a>
                  <div class="dropdown-divider"></div>
                  <a href="#getStarted" (click)="styleHideMen()" pageScroll
                     ngbDropdownItem>{{'NAVBAR.ITEM_2' | translate}}</a>
                  <div class="dropdown-divider"></div>
                  <a href="#whyBettery" (click)="styleHideMen()" pageScroll
                     ngbDropdownItem>{{'NAVBAR.ITEM_3' | translate}}</a>

                  <div class="dropdown-divider"></div>
                  <a href="#tokenSale" (click)="styleHideMen()" pageScroll
                     ngbDropdownItem>{{'NAVBAR.ITEM_4' | translate}}</a>
                  <div class="dropdown-divider"></div>
                  <a href="#roadmap" (click)="styleHideMen()" pageScroll
                     ngbDropdownItem>{{'NAVBAR.ITEM_5' | translate}}</a>
                  <div class="dropdown-divider"></div>
                  <a href="#team" (click)="styleHideMen()" pageScroll
                     ngbDropdownItem>{{'NAVBAR.ITEM_6' | translate}}</a>
                  <div class="dropdown-divider"></div>
                  <a href="#BusinessDemo" pageScroll ngbDropdownItem>{{'NAVBAR.ITEM_7' | translate}}</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" ngbDropdownItem>{{'NAVBAR.ITEM_8' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <header id="header" class="row mr-0 ml-0">
        <div class="container-fluid m-2">
          <div class="row d-flex">
            <div class="title_block col-lg-9 col-12 pr-0 pl-0">
              <div class="title">
                <div>
                  <h1>
                    {{ 'HEADER.TITLE_PART_1' | translate }}
                  </h1>
                </div>
                <div>
                  <h1>
                  <span class="green_wrapper">
                      <span class="green">{{ 'HEADER.TITLE_PART_2' | translate }}</span>
                      <span class="green-text">{{ 'HEADER.TITLE_PART_2' | translate }}</span>
                  </span>
                  </h1>
                </div>
              </div>
              <div class="title_text">
                <p>{{'HEADER.TEXT' | translate}}</p>
              </div>

              <ngx-typed-js class="ngx-typed" *ngIf="!active && switchLang === 'vn'"
                            [strings]="topQuestions"
                            [typeSpeed]="60" [backSpeed]="20" [loop]="true"
                            (stringTyped)="sendDefaultEvent($event)"
                            (preStringTyped)="renovationDefaultEvent()"
              >
                <div class="pencil">
                  <div class="text">
                    <span class="typing" (mouseenter)="showPopover()"></span>
                  </div>
                  <div class="popover" [ngClass]=" triggerPopover && 'open'">
                    <span>{{'HEADER.POPOVER.1' | translate}} </span> <br>
                    <span>{{'HEADER.POPOVER.2' | translate}}</span> <br>
                    <span>{{'HEADER.POPOVER.3' | translate}}</span> <br>
                    <span>{{'HEADER.POPOVER.4' | translate}}</span>
                  </div>
                </div>
              </ngx-typed-js>

              <ngx-typed-js class="ngx-typed" *ngIf="!active && switchLang ==='en'"
                            [strings]="topQuestions"
                            [typeSpeed]="60" [backSpeed]="20" [loop]="true"
                            (stringTyped)="sendDefaultEvent($event)"
                            (preStringTyped)="renovationDefaultEvent()"
              >
                <div class="pencil">
                  <div class="text">
                    <span class="typing" (mouseenter)="showPopover()"></span>
                  </div>
                </div>

                <div class="popover" [ngClass]=" triggerPopover && 'open'">
                  <span>{{'HEADER.POPOVER.1' | translate}} </span> <br>
                  <span>{{'HEADER.POPOVER.2' | translate}}</span> <br>
                  <span>{{'HEADER.POPOVER.3' | translate}}</span> <br>
                  <span>{{'HEADER.POPOVER.4' | translate}}</span>
                </div>
              </ngx-typed-js>

              <input [(ngModel)]="newCreateEvent" *ngIf="active" autofocus class="headerInput" type="text"
                     id="newEvent" name="newEvent"
                     placeholder="{{'HEADER.TOP_PLACEHOLDER' | translate}}">
              <div class="btn_title row">
                <div class="col-lg-3 col-12 pr-0">
                  <button *ngIf="isMobile" class="btn btn-success" routerLink="/create-event"
                          (click)="sendEvent()">{{'HEADER.BUTTON_TEXT' | translate}}
                  </button>
                  <button *ngIf="!isMobile" class="btn btn-success"
                          (click)="sendEventDesktop()" routerLink="/join">{{'HEADER.BUTTON_TEXT' | translate}}
                  </button>
                </div>
                <div class="dropText col-lg-5 col-12 px-0">
                  <p (click)="dropDown()">{{'HEADER.OR_JOIN.1' | translate}}
                    ({{eventData?.length}} {{'HEADER.OR_JOIN.2' | translate}})<img class="ml-1"
                                                                                   src="{{dropDownSwitch ? '../../../assets/landingPage/triangle-open.png' : '../../../assets/landingPage/triangle-close.png'}}"
                                                                                   alt="triangle"></p>
                </div>
              </div>
              <div [class]="dropDownSwitch ? 'dropdown_box_show' : ''" class="dropdown_box col-lg-7 col-12 mt-3">
                <ul class="dropdown_list ">
                  <li *ngFor="let event of eventData">
                    <p>{{event['publicEvents/question']}}</p>
                    <button *ngIf="isMobile" class="btn" routerLink="public_event/{{event?._id}}">{{'HEADER.JOIN' | translate}}</button>
                    <button *ngIf="!isMobile" class="btn"(click)="getSaveId(event?._id)" routerLink="room/{{event?.room[0]._id}}">{{'HEADER.JOIN' | translate}}</button>
                  </li>
                </ul>
              </div>

            </div>
            <div class="player col-lg-4 col-md-12">
            </div>
            <div id="social2" class="mobile_img col-12">
              <div class="bg_header"></div>
            </div>
          </div>
        </div>
      </header>

      <section id="social" class="bettery_work row container-fluid ml-0 mr-0">
        <div class="bettery_work_box col-lg-6 col-12 row order-lg-first">
          <div class="box_left col-12 col-lg-6">
            <div class="row">
              <div class="card_item mb-5 bg-hover col-12 col-lg-10 col-xl-8">
                <div class="mb-3">
                  <div class="img-section2"></div>
                </div>
                <h3 class="mb-2">{{'SECOND.CARD_TITLE_1' | translate}}</h3>
                <div class="card-text">
                  <p>{{'SECOND.CARD_TEXT_1' | translate}}</p>
                </div>
              </div>
              <div class="card_item mb-5 bg-hover col-12 col-lg-10 col-xl-8">
                <div class="mb-3">
                  <div class="round">
                    <div class="img_man"></div>
                  </div>
                </div>
                <h3 class="mb-2">{{'SECOND.CARD_TITLE_2' | translate}}</h3>
                <div class="card-text">
                  <p>{{'SECOND.CARD_TEXT_2' | translate}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="box_right col-12 col-lg-6 ">
            <div class="row">
              <div class="card_item bg-hover mb-5 col-12 col-lg-10 col-xl-8 ml-lg-0">
                <div class="mb-2">
                  <div class="round correct">
                    <div class="img_mans2"></div>
                  </div>
                </div>
                <h3 class="mb-2">{{'SECOND.CARD_TITLE_3' | translate}}</h3>
                <div class="card-text">
                  <p>{{'SECOND.CARD_TEXT_3' | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-12  bettery_work_title order-first mb-5 text-center text-lg-left ml-lg-5">
          <div>
            <div class="mb-3">
              <h2>{{'SECOND.TITLE' | translate}}</h2>
            </div>
            <div>
              <p>{{'SECOND.TEXT_1' | translate}}</p> <br>
              <p>{{'SECOND.TEXT_2' | translate}}</p>
            </div>
          </div>
        </div>
      </section>

      <section id="social-media">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12 social-media-title">
              <h2>Made for all your social media</h2>
              <p>Bring more fun into every post you make. Enjoy social betting with friends and all your online
                communities.</p>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <div class="phone-img"></div>
            </div>

              <swiper class="slide-bg" (slideChange)="onSwiper($event)">
                <ng-template swiperSlide>
                  <div class="d-flex justify-content-center">
                    <div class="phone1-img"></div>
                  </div>
                </ng-template>

                <ng-template swiperSlide>
                  <div class="d-flex justify-content-center">
                    <div class="phone2-img"></div>
                  </div>
                </ng-template>

                <ng-template swiperSlide>
                  <div class="d-flex justify-content-center">
                    <div class="phone3-img"></div>
                  </div>
                </ng-template>

              </swiper>

              <div class="pagin">
                <ul>
                  <li [ngClass]="slideIndex === 0 ? 'activeSlide' : ''"></li>
                  <li [ngClass]="slideIndex === 1 ? 'activeSlide' : ''"></li>
                  <li [ngClass]="slideIndex === 2 ? 'activeSlide' : ''"></li>
                </ul>
              </div>

          </div>
        </div>
      </section>

      <section id="getStarted" class="third">
        <div class="container-fluid">
          <div class="row">
            <div class="third-left col-lg-7 col-xs-12">
              <div class="third-title title_h2 text-center text-lg-left">
                <h2>{{'THIRD.TITLE' | translate}}</h2>
                <div class="mt-3 third-text">
                  <p>{{'THIRD.TEXT' | translate}}</p>
                </div>
              </div>
            </div>
            <div class="third-right img-choose col-lg-5 col-xs-12"></div>
          </div>
        </div>
      </section>

      <section class="four" id="whyBettery">
        <div class="four_top row justify-content-center mb-3">
          <div class="col-lg-6 col-md-10">
            <div>
              <h2 class="pb-3">{{'FOUR.TITLE' | translate}}</h2>
            </div>
            <div class="px-lg-5">
              <p>{{'FOUR.TEXT_1' | translate}}</p> <br>
              <p>{{'FOUR.TEXT_2' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="four_bottom  w-90">
          <div class="row justify-content-center mx-auto">
            <div class="col-lg-6 col-xs-12 col-xl-3">
              <div class="four_card">
                <div class="mb-2">
                  <div class="img_bg_yellow d-flex justify-content-center align-items-center">
                    <img src="../../../assets/landingPage/Fill.png" alt="fill">
                  </div>
                </div>
                <div class="mb-2">
                  <h3>{{'FOUR.CARD_TITLE_1' | translate}}</h3>
                </div>
                <div>
                  <p>{{'FOUR.CARD_TEXT_1' | translate}}</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-xs-12 col-xl-3">
              <div class="four_card">
                <div class="mb-2">
                  <div class="img_bg_yellow d-flex justify-content-center align-items-center correct-img">
                    <img src="../../../assets/landingPage/between.png" alt="between">
                  </div>
                </div>
                <div class="mb-2">
                  <h3>{{'FOUR.CARD_TITLE_2' | translate}}</h3>
                </div>
                <div>
                  <p>{{'FOUR.CARD_TEXT_2' | translate}}</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-xs-12 col-xl-3">
              <div class="four_card">
                <div class="mb-2">
                  <div class="img_bg_yellow d-flex justify-content-center align-items-center">
                    <img src="../../../assets/landingPage/money.png" alt="money">
                  </div>
                </div>
                <div class="mb-2">
                  <h3>{{'FOUR.CARD_TITLE_3' | translate}}</h3>
                </div>
                <div>
                  <p>{{'FOUR.CARD_TEXT_3' | translate}}</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-xs-12 col-xl-3">
              <div class="four_card">
                <div class="mb-2">
                  <div class="img_bg_yellow d-flex justify-content-center align-items-center">
                    <img src="../../../assets/landingPage/last.png" alt="1">
                  </div>
                </div>
                <div class="mb-2">
                  <h3>{{'FOUR.CARD_TITLE_4' | translate}}</h3>
                </div>
                <div>
                  <p>{{'FOUR.CARD_TEXT_4' | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="tokenSale" class="tokenSale">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-7 col-md-10 col-xs-12 tokenSale-left">
              <div>
                <h2>{{'TOKEN_SALE.TITLE' | translate}}</h2>
              </div>
              <div>
                <p>{{'TOKEN_SALE.TEXT' | translate}}</p>
              </div>
              <div class="tokenSale-btn">
                <button routerLink="/tokensale">{{'TOKEN_SALE.JOIN_TOKEN_SALE' | translate}}</button>
                <a class="mt-1" href="#">{{'TOKEN_SALE.MORE_ON_BETTERY' | translate}} >></a>
              </div>
            </div>
            <div class="col-lg-5 col-xs-12 tokenSale-right">
              <div>
                <p>{{'TOKEN_SALE.FULL_TOKENOMICS' | translate}}</p>
              </div>
              <div class="token-timer">
                <div class="day">
                  <div class="mx-1 semi-bg"><span>{{timer?.days[0]}}</span></div>
                  <div class="mx-1 semi-bg"><span>{{timer?.days[1]}}</span></div>
                </div>
                <div>
                  <span class="point">:</span>
                </div>
                <div class="hours">
                  <div class="mx-1 semi-bg"><span>{{timer?.hours[0]}}</span></div>
                  <div class="mx-1 semi-bg"><span>{{timer?.hours[1]}}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="road-map container-fluid" id="roadmap">
        <div class="road-map-top row justify-content-center">
          <div class="col-lg-6 col-md-10">
            <div>
              <h2>{{'ROADMAP.TITLE' | translate}}</h2>
            </div>
            <div class="px-lg-5">
              <p>{{'ROADMAP.TEXT' | translate}}</p>
            </div>
          </div>
        </div>
        <div class=" px-lg-5 road-map-desctop">
          <div class="row mb-5 text_road position-relative balls-rest">

            <div class="col-lg-3 col-xs-12 col-sm-6">
              <div class="img-yellow_5 mb-2">
                <div class="pr-2">{{'ROADMAP.ROADMAP_UP_TEXT-1' | translate}}</div>
              </div>
              <div class="text-center"><p><span>{{'ROADMAP.DATE_1' | translate}}</span></p></div>
              <div class="green-box before-correct"
                   style="color: #ffffff">{{'ROADMAP.ROADMAP_TEXT-1' | translate}}</div>
            </div>

            <div class="col-lg-3 col-xs-12 col-sm-6">
              <div class="img-yellow_5 mb-2">
                <div class="pr-2">{{'ROADMAP.ROADMAP_UP_TEXT-2' | translate}}</div>
              </div>
              <div class="text-center"><p>{{'ROADMAP.DATE_2' | translate}}</p></div>
              <div class="green-box before-correct">{{'ROADMAP.ROADMAP_TEXT-2' | translate}}</div>
            </div>

            <div class="col-lg-3 col-xs-12 col-sm-6">
              <div class="img-yellow_5 mb-2">
                <div class="pr-3 pl-2">{{'ROADMAP.ROADMAP_UP_TEXT-3' | translate}}</div>
              </div>
              <div class="text-center"><p>{{'ROADMAP.DATE_3' | translate}}</p></div>
              <div class="green-box">{{'ROADMAP.ROADMAP_TEXT-3' | translate}}</div>
            </div>

            <div class="col-lg-3 col-xs-12 col-sm-6">
              <div class="img-yellow_5 mb-2">
                <div class="pr-2">{{'ROADMAP.ROADMAP_UP_TEXT-4' | translate}}</div>
              </div>
              <div class="text-center"><p>{{'ROADMAP.DATE_4' | translate}}</p></div>
              <div class="green-box">{{'ROADMAP.ROADMAP_TEXT-4' | translate}}</div>
            </div>
            <div class="hr"></div>
            <div class="hr-green"></div>
            <div class="balls"></div>
            <div class="balls"></div>
            <div class="balls"></div>
            <div class="green-ball"></div>
          </div>

        </div>

        <div class="container road-map-mobile">
          <div class="row">
            <div class="col-lg-3 col-xs-12 col-sm-6 mt-3">
              <div class="card-date pt-2 pb-2 acti">
                <span>{{'ROADMAP.DATE_1' | translate}}</span>
              </div>
              <div class="card-mob-text pt-4  pb-1">
                <div>
                  <b><p>{{'ROADMAP.ROADMAP_UP_TEXT-1' | translate}}</p></b>
                </div>
                <div class="p-3 ">
                  <p>{{'ROADMAP.ROADMAP_TEXT-1' | translate}}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-sm-6 mt-3">
              <div class="card-date pt-2 pb-2">
                <span>{{'ROADMAP.DATE_2' | translate}}</span>
              </div>
              <div class="card-mob-text pt-4  pb-1">
                <div>
                  <b><p>{{'ROADMAP.ROADMAP_UP_TEXT-2' | translate}}</p></b>
                </div>
                <div class="p-3 ">
                  <p>{{'ROADMAP.ROADMAP_TEXT-2' | translate}}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-sm-6 mt-3">
              <div class="card-date pt-2 pb-2">
                <span>{{'ROADMAP.DATE_3' | translate}}</span>
              </div>
              <div class="card-mob-text pt-4  pb-1">
                <div>
                  <b><p>{{'ROADMAP.ROADMAP_UP_TEXT-3' | translate}}</p></b>
                </div>
                <div class="p-3 ">
                  <p>{{'ROADMAP.ROADMAP_TEXT-3' | translate}}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-sm-6 mt-3">
              <div class="card-date pt-2 pb-2">
                <span>{{'ROADMAP.DATE_4' | translate}}</span>
              </div>
              <div class="card-mob-text pt-4  pb-1">
                <div>
                  <b><p>{{'ROADMAP.ROADMAP_UP_TEXT-4' | translate}}</p></b>
                </div>
                <div class="p-3 ">
                  <p>{{'ROADMAP.ROADMAP_TEXT-4' | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

      <section class="team" id="team">
        <div class="container-fluid px-lg-5">
          <div class="row justify-content-center">
            <div class="item_team mb-5 col-lg-3 col-9 col-sm-6">
              <div class="img_team_logo mb-2"></div>
              <div class="team_card_text">
                <p>{{'TEAM.TEXT' | translate}}</p>
              </div>
            </div>
            <div class="item_team mb-5 col-lg-3 col-9 col-sm-6">
              <div class="img_team_avatar"></div>
              <div class="team_card_name">
                <h4>{{'TEAM.FEDOR.NAME' | translate}}</h4>
                <p>{{'TEAM.FEDOR.STATUS' | translate}}</p>
              </div>
              <div class="team_card_text">
                <p><span
                  class="team-span">{{'TEAM.EXPERTISE' | translate}}</span> {{'TEAM.FEDOR.EXPERTISE' | translate}}</p>
                <p><span class="team-span">{{'TEAM.PASSION' | translate}}</span> {{'TEAM.FEDOR.PASSION' | translate}}
                </p>
              </div>
              <div class="img_team_linkedin"><a href="https://www.linkedin.com/" target="_blank"><img
                src="../../../assets/landingPage/linkedin-square.png" alt="linkedin"></a></div>
            </div>
            <div class="item_team mb-5 col-lg-3 col-9 col-sm-6">
              <div class="img_team_avatar2"></div>
              <div class="team_card_name">
                <h4>{{'TEAM.SIM.NAME' | translate}}</h4>
                <p>{{'TEAM.SIM.STATUS' | translate}}</p>
              </div>
              <div class="team_card_text">
                <p><span class="team-span">{{'TEAM.EXPERTISE' | translate}}</span> {{'TEAM.SIM.EXPERTISE' | translate}}
                </p>
                <p><span class="team-span">{{'TEAM.PASSION' | translate}}</span> {{'TEAM.SIM.PASSION' | translate}}</p>
              </div>
              <div class="img_team_linkedin"><a href="https://www.linkedin.com/" target="_blank"><img
                src="../../../assets/landingPage/linkedin-square.png" alt="linkedin"></a></div>
            </div>
            <div class="item_team mb-5 col-lg-3 col-9 col-sm-6">
              <div class="img_team_avatar3"></div>
              <div class="team_card_name">
                <h4>{{'TEAM.MAXIM.NAME' | translate}}</h4>
                <p>{{'TEAM.MAXIM.STATUS' | translate}}</p>
              </div>
              <div class="team_card_text">
                <p><span
                  class="team-span">{{'TEAM.EXPERTISE' | translate}}</span> {{'TEAM.MAXIM.EXPERTISE' | translate}}</p>
                <p><span class="team-span">{{'TEAM.PASSION' | translate}}</span> {{'TEAM.MAXIM.PASSION' | translate}}
                </p>
              </div>
              <div class="img_team_linkedin"><a href="https://www.linkedin.com/" target="_blank"><img
                src="../../../assets/landingPage/linkedin-square.png" alt="linkedin"></a></div>
            </div>
            <div class="item_team mb-5 col-lg-3 col-9 col-sm-6">
              <div class="img_team_avatar4"></div>
              <div class="team_card_name">
                <h4>{{'TEAM.SHANE.NAME' | translate}}</h4>
                <p>{{'TEAM.SHANE.STATUS' | translate}}</p>
              </div>
              <div class="team_card_text">
                <p><span
                  class="team-span">{{'TEAM.EXPERTISE' | translate}}</span> {{'TEAM.SHANE.EXPERTISE' | translate}}</p>
                <p><span class="team-span">{{'TEAM.PASSION' | translate}}</span> {{'TEAM.SHANE.PASSION' | translate}}
                </p>
              </div>
              <div class="img_team_linkedin"><a href="https://www.linkedin.com/" target="_blank"><img
                src="../../../assets/landingPage/linkedin-square.png" alt="linkedin"></a></div>
            </div>
            <div class="item_team mb-5 col-lg-3 col-9 col-sm-6">
              <div class="img_team_avatar5"></div>
              <div class="team_card_name">
                <h4>{{'TEAM.NELSON.NAME' | translate}}</h4>
                <p>{{'TEAM.NELSON.STATUS' | translate}}</p>
              </div>
              <div class="team_card_text">
                <p><span
                  class="team-span">{{'TEAM.EXPERTISE' | translate}}</span> {{'TEAM.NELSON.EXPERTISE' | translate}}</p>
                <p><span class="team-span">{{'TEAM.PASSION' | translate}}</span> {{'TEAM.NELSON.PASSION' | translate}}
                </p>
              </div>
              <div class="img_team_linkedin"><a href="https://www.linkedin.com/" target="_blank"><img
                src="../../../assets/landingPage/linkedin-square.png" alt="linkedin"></a></div>
            </div>
            <div class="item_team mb-5 col-lg-3 col-9 col-sm-6">
              <div class="img_team_avatar6"></div>
              <div class="team_card_name">
                <h4>{{'TEAM.KEN.NAME' | translate}}</h4>
                <p>{{'TEAM.KEN.STATUS' | translate}}</p>
              </div>
              <div class="team_card_text">
                <p><span class="team-span">{{'TEAM.EXPERTISE' | translate}}</span> {{'TEAM.KEN.EXPERTISE' | translate}}
                </p>
                <p><span class="team-span">{{'TEAM.PASSION' | translate}}</span> {{'TEAM.KEN.PASSION' | translate}}</p>
              </div>
              <div class="img_team_linkedin"><a href="https://www.linkedin.com/" target="_blank"><img
                src="../../../assets/landingPage/linkedin-square.png" alt="linkedin"></a></div>
            </div>
            <div class="item_team mb-5 col-lg-3 col-9 col-sm-6">
              <div class="img_team_avatar7"></div>
              <div class="team_card_name">
                <h4>{{'TEAM.NAME_7' | translate}}</h4>
                <p>{{'TEAM.STATUS_7' | translate}}</p>
              </div>
              <div class="team_card_text">
                <p>{{'TEAM.TEXT' | translate}}</p>
              </div>
              <div class="img_team_linkedin"><a href="https://www.linkedin.com/" target="_blank"><img
                src="../../../assets/landingPage/linkedin-square.png" alt="linkedin"></a></div>
            </div>
          </div>
        </div>
      </section>

      <app-landing-form id="BusinessDemo"></app-landing-form>

      <footer class="container-fluid">
        <div class="row justify-content-around footer-left">
          <div class="col-lg-4 col-xs-12 order-lg-first">
            <div>
              <h4 class="h4">{{'FOOTER.TITLE_1' | translate}}</h4>
            </div>
            <div>
              <p>{{'FOOTER.TEXT_1' | translate}}</p>
            </div>
            <div class="row">
              <div class="col-lg-6 col-12 d-flex mt-2">
                <div class="img_telegram"></div>
                <div class="pt-1 ml-2 mt-2">
                  <a href="https://t.me/bettery_io" target="_blank">{{'NAVBAR.ITEM_8' | translate}}</a>
                </div>
              </div>
              <div class="col-lg-6 col-12 d-flex mt-2">
                <div class="img_mail"></div>
                <div class="pt-1 ml-2 mt-2">
                  <a href="#"> hello@bettery.io</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 order-first">
            <div>
              <h4 class="h4">{{'FOOTER.TITLE_2' | translate}} </h4>
            </div>
            <div>
              <p>{{'FOOTER.TEXT_2' | translate}}</p>
            </div>
            <form [formGroup]="form" (ngSubmit)="subscribe()">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="{{'FOOTER.PLACE_HOLDER'  | translate}}"
                       formControlName="email"
                       [ngClass]="submitted && f.email.errors && 'subscibeError'"
                       aria-label="Recipient's username"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button [disabled]="subscribed" class="btn btn-outline-secondary"
                          type="submit">{{'FOOTER.BUTTON_TEXT' | translate}}</button>
                </div>
              </div>
              <div *ngIf="submitted && f.email.errors">
                <small *ngIf="f.email.errors.required"
                       class="valid_text quize_validation_error">{{'FORM.VALIDATOR' | translate}}</small>
                <small *ngIf="f.email.errors.email"
                       class="valid_text quize_validation_error">{{'FORM.EMAIL_ERROR' | translate}}</small>
              </div>
            </form>

          </div>
        </div>
      </footer>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-box">
    <div>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title text-center" id="modal-basic-title">{{'MODAL.TITLE' | translate}}</h4>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-8 modal_left">
        <div class="modal-body" style="padding-top: 29px">
          <p><span>{{'MODAL.TEXT' | translate}}</span> {{'MODAL.TEXT-2' | translate}}</p>
        </div>
        <div class="text-center">
          <a href="#">info-investor@bettery.io</a>
        </div>
      </div>
      <div class="col-12 col-sm-1 d-flex justify-content-center">
        <div class="vertical-hr h-100"></div>
      </div>
      <div class="col-12 col-sm-3 modal_right d-flex align-items-center flex-column">
        <div><p>Bettery Pitch Deck</p></div>
        <div class="slide_img mt-3 mb-3"></div>
        <div><a href="#">{{'MODAL.DOWNLOAD' | translate}}</a></div>
      </div>
    </div>
  </div>
</ng-template>
