<div class="container">
    <ngb-tabset (tabChange)="tabChange($event)" class="tabs">
        <ngb-tab id="current_events" title="Current Events">
            <ng-template ngbTabContent>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="past_events" title="Past Events">
            <ng-template ngbTabContent>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

    <div *ngIf="spinner">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <div *ngIf="!spinner">
        <div class="filterCheckBox">
            <div class="filter_box">
                <label for="hostFilter">
                    <input id="hostFilter" [(ngModel)]="hostFilet" (click)="filter()" type="checkbox">
                    Hosted ({{this.getActiveQuantity("Host")}})</label>
            </div>
            <div class="filter_box">
                <label for="participatedFilter">
                    <input id="participatedFilter" [(ngModel)]="parcipiantFilter" (click)="filter()" type="checkbox">
                    Participated ({{this.getActiveQuantity("participant")}})</label>
            </div>
            <div>
                <label for="validatedFilter">
                    <input id="validatedFilter" [(ngModel)]="validateFilter" (click)="filter()" type="checkbox">
                    Validated ({{this.getActiveQuantity("validator")}})</label>
            </div>
        </div>

        <div *ngIf="myActivites.length === 0">
            <p class="dontActivites">Don't have any activites.</p>
        </div>

        <div *ngIf="myActivites.length !== 0" class="question_cards">
            <div *ngFor="let active of myActivites; let index = index">
                <quiz-template [coinInfo]="coinInfo" [myAnswers]="myAnswers" [userData]="userData"
                [question]="active" [fromComponent]="fromComponent" (callGetData)="getDataDbComponent()"></quiz-template>
            </div>
        </div>
    </div>
</div>