.card 
    margin-bottom: 10px
    
.lds-ripple
    margin-top: 150px
    position: relative
    width: 80px
    height: 80px
    display: block
    margin-left: auto
    margin-right: auto

.lds-ripple div
    position: absolute
    border: 4px solid #5682e2
    opacity: 1
    border-radius: 50%
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite

.lds-ripple div:nth-child(2)
    animation-delay: -0.5s

@keyframes lds-ripple
    0%
        top: 36px
        left: 36px
        width: 0
        height: 0
        opacity: 1

    100%
        top: 0px
        left: 0px
        width: 72px
        height: 72px
        opacity: 0


.question
    font-weight: 700   
    width: 65%  
    margin: 0px       

.title
    display: flex 
    justify-content: space-between   

.from
    margin: 0px    

.hashtags_box  
    display: flex   

.hashtags
    padding-right: 10px   
    margin: 0px

.info
    display: flex
    justify-content: space-around  
    padding-top: 10px  

.answers_box
    display: flex
    justify-content: center  
    padding-top: 15px

.answers
    min-width: 200px
    max-width: 300px   
    padding-right: 10px

.validators_box
    min-width: 200px  
    text-align: center 

.participants_box
    min-width: 200px 
    text-align: center

.filterCheckBox
    display: flex
    justify-content: center    
    padding-top: 20px

.filter_box
    padding-right: 30px    

.button_box
    text-align: center 
    padding-top: 20px  

.delete_button
    margin-right: 40px   

.checkbox_answer
    margin-right: 5px    

.error_answer
    margin-top: 15px
    margin-bottom: 0px      
    color: #fc471e   

.label
    display: inline 

.each_answer
    padding-bottom: 10px     

.answered
    display: inline 

.iconCheck
    margin-right: 10px     

.answered_Box
    padding-bottom: 10px   

.participants_Percentage
    padding-bottom: 0px
    margin-bottom: 0px 


.participants_Percentage_box
    margin-bottom: 10px   

.dontActivites
    text-align: center 
    margin-top: 40px
    font-weight: bold
      
.event_is_finish
    font-weight: 700 

.question_cards
    padding-top: 20px
           