<div class="container">
    <div *ngIf="spinner">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <div *ngIf="!spinner">
        <div *ngIf='questions.length !== 0'>
            <div *ngFor="let question of questions; let index = index">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="title">
                            <p class="question">{{question.question}}</p>
                            <p class="from">You are: {{this.getPosition(question)}}</p>
                            <a [routerLink]="['/~ki339203/question', question.id]">Open Link</a>
                        </div>
                        <div class="hashtags_box">
                            <p class="hashtags" *ngFor="let hashtag of question.hashtags">#{{hashtag}}</p>
                        </div>
                        <div class="info">
                            <p>Status: {{question.private === true ? "Private" : "Public"}}</p>
                            <p>Bet amount: {{question.money}} ETH</p>
                            <p>Wins: 3%, 5%, 92%</p>
                        </div>
                        <div class="answers_box">
                            <div class="validators_box">
                                <p>Validators ({{question.validatorsQuantity}} of {{question.validatorsAmount}})</p>
                                <div class="participants_Percentage_box" *ngFor="let answer of question.answers; let i = index">
                                    <p class="participants_Percentage">{{this.getValidatorsPercentage(i, index)}} %</p>
                                </div>
                            </div>
                            <div class="participants_box">
                                <p>Participants ({{question.answerQuantity}})</p>
                                <div class="participants_Percentage_box" *ngFor="let answer of question.answers; let i = index">
                                    <p class="participants_Percentage">{{this.getParticipantsPercentage(i, index)}} %</p>
                                </div>
                            </div>
                            <div class="answers">
                                <p>Answers</p>
                                <!-- if event is finish and we know answer -->
                                <div *ngIf="question.finalAnswers !== null">
                                    <div>
                                        <div class="answered_Box" *ngFor="let answer of question.answers; let i = index">
                                            <fa-icon class="iconCheck" *ngIf="myAnswers[index].answer === i" [icon]="faCheck"></fa-icon>
                                            <p [ngClass]="{'text-success event_is_finish':question.finalAnswers === i}"
                                                class="answered">{{answer}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- if event is not finish-->
                                <div *ngIf="question.finalAnswers === null">
                                    <div *ngIf="question.multiChose === true">
                                        <div *ngIf="myAnswers[index].answered === false">
                                            <div class="each_answer" *ngFor="let answer of question.answers; let i = index">
                                                <input (click)="this.makeMultyAnswer(question, i, $event)" class="checkbox_answer"
                                                    id="{{question.id}}{{question.from}}" value="i" type="checkbox">
                                                <label class="label">{{answer}}</label>
                                            </div>
                                        </div>
                                        <div *ngIf="myAnswers[index].answered === true">
                                            <div class="answered_Box" *ngFor="let answer of question.answers; let i = index">
                                                <fa-icon class="iconCheck" *ngIf="this.getMultyIcon(myAnswers[index].multyAnswer, i)"
                                                    [icon]="faCheck"></fa-icon>
                                                <p class="answered">{{answer}}</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div *ngIf="question.multiChose === false">
                                        <div *ngIf="myAnswers[index].answered === false">
                                            <div class="each_answer" *ngFor="let answer of question.answers; let i = index">
                                                <input class="checkbox_answer" id="{{question.id}}{{question.from}}"
                                                    (click)="this.makeAnswer(question, i)" value="i" type="radio" name="{{question.id}}{{question.from}}">
                                                <label class="label">{{answer}}</label>
                                            </div>
                                        </div>

                                        <div *ngIf="myAnswers[index].answered === true">
                                            <div class="answered_Box" *ngFor="let answer of question.answers; let i = index">
                                                <fa-icon class="iconCheck" *ngIf="myAnswers[index].answer === i" [icon]="faCheck"></fa-icon>
                                                <p class="answered">{{answer}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="time">
                                <p style="height: 25px"> </p>
                                <p style="display: flex">Participation <time [timer]="question.startTime"></time></p>
                                <p style="display: flex">Validation <time [timer]="question.endTime"></time></p>
                                <p style="display: flex">Validation over <time [timer]="this.getEndValidation(question)"></time>
                                </p>
                            </div>
                        </div>

                        <div class="button_box" *ngIf="question.finalAnswers === null">
                            <div *ngIf="myAnswers[index].answered === false">
                                <button type="button" *ngIf="!this.timeGuard(question)" class="btn btn-primary" (click)="this.setAnswer(question)">Validate
                                    now</button>
                                <button class="btn btn-danger" *ngIf="this.timeGuard(question)" (click)="this.setAnswer(question)">Start<time
                                        style="display:inline-block" [timer]="question.endTime"></time></button>
                            </div>
                            <div *ngIf="errorValidator.idError === question.id">
                                <p class="error_answer">{{errorValidator.message}}</p>
                            </div>
                        </div>
                        <div class="button_box" *ngIf="question.finalAnswers !== null">
                            <p class="text-success event_is_finish">Event is finish!!!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dont_have_event" *ngIf='questions.length === 0'>
            <p>Don't have any event.</p>
        </div>
    </div>
</div>