<div class="main-warp container-fluid">
  <!--    <div *ngIf="spinner">-->
  <!--        <div class="lds-ripple">-->
  <!--            <div></div>-->
  <!--            <div></div>-->
  <!--        </div>-->
  <!--    </div>-->

  <app-search-bar></app-search-bar>


  <div class="container-fluid">
    <div class="comment-wrap" style="margin-top: 51px">

      <div
        class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScrollQuizTemplate()"
        style="display: flex; padding-left: 17%; margin-bottom: 24px; flex-direction: column">
        <div *ngFor="let newQuestion of newQuestions; let index = index">
          <quiz-template (commentIdEmmit)="commentById($event)" [coinInfo]="coinInfo" [myAnswers]="myAnswers[index]"
                         [userData]="userData"
                         [question]="newQuestion" [fromComponent]="fromComponent"
                         (callGetData)="getData(this.scrollDistanceFrom, this.scrollDistanceTo)"></quiz-template>
        </div>
      </div>

      <div style=" padding: 0">
        <div style="margin-right: 30px" class="comment-box">
          <div class="comment-head">
            <img class="test-img-delet" src="../../../../../assets/descEvent/test-delet.png">
            <div>
              <span>Who will be the next president of the US?</span>
            </div>
          </div>
          <app-comment class="test" *ngIf="commentList" [theme]="'white'" [userData]= userData
                       [id]="commentList.id"></app-comment>
        </div>
      </div>
    </div>
  </div>
</div>
