<div class="main-bg">
  <app-search-bar class="main-warp  container"
                  (activeItemEmit)="activeBtnFromSearchBar($event)"
                  (searchWordEmit)="letsFindNewQuestion($event)"
                  [allAmountEvents] = pureData?.allAmountEvents
                  [amount] = pureData?.amount
                  (timelineActive)="openTimeline($event)"
                  [active] = activeBtn
></app-search-bar>
  <div id="top" class="main-warp  container">


    <div *ngIf="spinner">
      <app-spinner-loading class="lds-ripple" [desktop]="true"></app-spinner-loading>
    </div>
    <div class="z-ind" *ngIf="spinnerForComment">
      <app-spinner-loading></app-spinner-loading>
    </div>

    <div class="small-bg" *ngIf="!spinner">
      <div class="container-fluid">
        <div class="comment-wrap" style="padding-top: 51px">

          <div
            class="search-results" infiniteScroll
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScrollQuizTemplate()"
            [ngClass]="(activeBtn==='pro' || newQuestions.length === 0) && 'w-100'"
          >
            <div *ngIf="activeBtn !== 'pro'">
              <div *ngFor="let newQuestion of newQuestions; let index = index">
                <quiz-template (commentIdEmmit)="commentById($event)" [coinInfo]="coinInfo"
                               [index]="index"
                               [myAnswers]="myAnswers[index]"
                               [userData]="userData"
                               [question]="newQuestion" [fromComponent]="fromComponent"
                               (callGetData)="getData(queryPath,0, scrollDistanceTo, '', activeBtn)"></quiz-template>
              </div>
            </div>
            <div class="notFound" *ngIf="pureData?.allAmountEvents !== 0 && pureData?.events.length === 0">
              <div class="notFound-img"></div>
              <div class="notFound-title">
                <h4 style="color: #939393">
                  NO RESULTS
                </h4>
              </div>
              <div class="notFound-text">
                <p>
                  We couldn't find what you were looking for. But hey, why not host an event about it and earn? Go to
                  <span>Bettery.io</span> on your mobile device and create an event now!
                </p>
              </div>
              <div class="notFound-btn">
                <button (click)="openCreateEventModal()">CREATE EVENT</button>
              </div>
            </div>

            <div class="notFound" *ngIf="activeBtn === 'following' && pureData?.allAmountEvents === 0">
              <div class="noFollowEvents-img"></div>

              <div class="notFound-title">
                <h4 style="color: #939393">
                  No Events at the moment
                </h4>
              </div>
              <div class="notFound-text">
                <p>
                  Join some Rooms or Events if you haven't already to get updates in your Following timeline.
                </p>
              </div>
            </div>

            <div class="soonPro" *ngIf="activeBtn === 'pro'">
              <div class="baksGreen-img"></div>
              <div class="soon-title">
                <h4>
                  coming soon!
                </h4>
              </div>
              <div class="soon-text">
                <p>
                  <span>Pro events,</span> hosted by Influencers and Businesses, will let you directly earn BTY and cash
                  out instantly.
                </p>
              </div>
              <div class="soon-btn">
                <button>Learn more</button>
              </div>
            </div>
          </div>

          <div *ngIf="activeBtn !== 'pro' && newQuestions.length !== 0" class="main-comment" [ngStyle]="commentTopPosition()">
            <div style="margin-right: 30px" class="comment-box">
              <div class="comment-head">
                <div class="img-del" [ngStyle]="colorForRoom(commentList?.room.color)"></div>
                <div>
                  <span>{{commentList?.question}}</span>
                </div>
              </div>
              <app-comment (spinnerEmmit)="commentsSpinner($event)" [mobile]="false"
                           [showAuthButton]="userData === undefined" class="deep-comment" *ngIf="commentList"
                           [theme]="'white'" [userData]="userData"
                           [id]="commentList.id"></app-comment>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="to_the_top" [ngClass]="scrollTop < 200 && 'dnone'"><a pageScroll href="#top"><img
      src="../../../../../assets/descEvent/topBTN.png" alt="Top"></a></div>
  </div>
</div>

<filterTimeline *ngIf="timelineActive"
              (closeEmmit)="openTimeline($event)"
              (filterData)="letsFilterData($event)"
></filterTimeline>
