<div class="card card_box room-card">
  <div class="row">
    <div class="col-3"
         style="border-top-left-radius: 20px; border-bottom-left-radius: 20px "
         [ngStyle]="colorForRoom(question?.room.color)"></div>
    <div class="col-9 pl-0">

      <div class="room-card-top">
        <div>
          <h2>{{question?.question}}</h2>
          <div class="questions-box">

            <div class="answers_box">
              <div class="answers">
<!--                                  <div *ngIf="finalAnswerGuard(question)">-->
<!--                                    <div>-->
<!--                                      <div class="answered_Box d-flex align-items-center" *ngFor="let answer of question.answers; let i = index">-->
<!--                                        <fa-icon class="iconCheck" *ngIf="myAnswers.answer === i" [icon]="faCheck"></fa-icon>-->
<!--                                        <p [ngClass]="{'text-success event_is_finish':question.finalAnswer === i}" class="answered">-->
<!--                                          {{answer}}</p>-->
<!--                                      </div>-->
<!--                                    </div>-->
<!--                                  </div>-->
                <div *ngIf="!finalAnswerGuard(question)">

                  <div *ngIf="question.multiChoise === false">
                    <div *ngIf="myAnswers.answered === false" class="d-flex align-items-center">
                      <div class="each_answer" *ngFor="let answer of question.answers; let i = index">
                        <input class="checkbox_answer" id="{{question.id}}{{question.from}}"
                               (click)="this.makeAnswer(i)" value="i" type="radio"
                               name="{{question.id}}{{question.from}}">
                        <div class="label answer-checkbox">{{answer}}</div>
                      </div>
                    </div>

                    <div *ngIf="myAnswers.answered === true">
                      <div class="answered_Box" *ngFor="let answer of question.answers; let i = index">
                        <fa-icon class="iconCheck" *ngIf="myAnswers.answer === i" [icon]="faCheck"></fa-icon>
                        <p class="answered ">{{answer}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
<!--                          <div *ngIf="!finalAnswerGuard(question)" class="time">-->
<!--                              <p style="height: 25px"> </p>-->
<!--                              <p style="display: flex">Participation <time [timer]="question.startTime"></time></p>-->
<!--                              <p style="display: flex">Validation <time [timer]="question.endTime"></time></p>-->
<!--                              <p style="display: flex">Validation over <time [timer]="this.getEndValidation(question)"></time>-->
<!--                              </p>-->
<!--                          </div>-->
            </div>


          </div>
        </div>

        <div>
          <div class="timer-span">
            Ending in: <span class="timer-span">{{question?.endTime}} </span>
          </div>
          <div>
            BET <input class="bet-style"/> <span class="quickBet">QUICK BET</span>
          </div>
        </div>

      </div>

      <div class="room-card-bottom">
        <div class="room-info-list">
          <div class="info-item">
            <div class="avatar mr-2">
              <img src="{{question?.host.avatat}}" alt="avatar">
            </div>
            <div>{{question?.host.nickName}}</div>
          </div>
          <div class="info-item">
            <div class="yellow-parc-img mr-2 ml-3"></div>
            <div><span>389</span>Joined</div>
          </div>
          <div class="info-item">
            <div class="bet-img mr-2 ml-3"></div>
            <div><span>200 BET</span> Avg. Bet</div>
          </div>
          <div class="info-item">
            <div class="colorRoom mr-2 ml-3 " [ngStyle]="colorForRoom(question?.room.color)"></div>
            <div><span>{{question?.room.name}}</span> (1200)</div>
          </div>
        </div>
        <div class="room-comment row">
          <div class="col-8 d-flex">
            <div class="comment-img mr-2"></div>
            <div class="comment-text"><p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur
              adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et d.... <span (click)="getCommentById(question?.id)">(see 723 more comments)</span>
            </p>
            </div>
          </div>
          <div class="col-2">
            <div class="button">
              join now
            </div>
          </div>
        </div>
      </div>

      <!--        <div class="hashtags_box">-->
      <!--            <p class="hashtags" *ngFor="let hashtag of question.hashtags">#{{hashtag}}</p>-->
      <!--        </div>-->

      <!--        <div class="button_box" *ngIf="!finalAnswerGuard(question)">-->
      <!--            <div *ngIf="myAnswers.answered === false">-->
      <!--                <button (click)="this.deleteEvent(question)" type="button" class="btn btn-danger delete_button"-->
      <!--                    *ngIf="this.validateDeleteButton(question)">Delete-->
      <!--                    Event</button>-->
      <!--                <div class="d-inline-block" *ngIf="this.particCryptoGuard(question)">-->
      <!--                    <button type="button" class="btn btn-primary" (click)="this.setAnswer(question, 'crypto')">Participate</button>-->
      <!--                </div>-->
      <!--                <button type="button" class="btn btn-success" *ngIf="this.validGuard(question)" (click)="this.setAnswer(question, 'validate')">Validate</button>-->
      <!--            </div>-->
      <!--            <div *ngIf="errorValidator.idError === question.id">-->
      <!--                <p class="error_answer">{{errorValidator.message}}</p>-->
      <!--            </div>-->
      <!--        </div>-->
      <!--        <div class="button_box" *ngIf="question.finalAnswer !== null">-->
      <!--            <p class="text-success event_is_finish">Event is finish.</p>-->
      <!--        </div>-->
      <!--        <div class="button_box" *ngIf="question.reverted">-->
      <!--            <p class="text-danger event_is_finish">Event is revered.</p>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</div>
