<div class="card card_box room-card">
  <div class="row">
    <div class="col-3" style="border-top-left-radius: 20px; border-bottom-left-radius: 20px "
      [ngStyle]="colorForRoom(question?.room.color)"></div>
    <div class="col-9 pl-0">

      <div class="room-card-top" [ngStyle]="cardColorBackGround(question)">
        <div>
          <h2>{{question?.question}}</h2>
          <div class="questions-box">

            <div class="answers_box">
              <div class="answers">
                <div *ngIf="!finalAnswerGuard(question)">
                  <div class="d-flex align-items-center">
                    <div class="each_answer" *ngFor="let answer of question.answers; let i = index">
                      <input class="checkbox_answer" id="{{question.id}}{{question.from}}" (click)="this.makeAnswer(i)"
                        value="{{i}}" type="radio" name="{{question.id}}{{question.from}}">
                      <div class="label answer-checkbox">{{answer}}</div>
                    </div>
                  </div>
                </div>
                <div *ngIf="finalAnswerGuard(question)">
                  <div class="d-flex align-items-center" *ngIf="question.status == 'reverted'">
                    <div class="each_answer" *ngFor="let answer of question.answers; let i = index">
                      <div class="cycle"></div>
                      <div class="label answer-checkbox">{{answer}}</div>
                    </div>
                  </div>
                  <div *ngIf="question.finalAnswer !== null">
                    <p>test 2</p>
                    <!--TODO-->
                  </div>
                  <div class="d-flex align-items-center" *ngIf="this.myAnswers?.answer !== undefined">
                    <div class="each_answer" *ngFor="let answer of question.answers; let i = index">
                      <div class="cycle">
                        <div *ngIf="this.myAnswers?.answer == i"
                          [ngClass]="{'cyclePart': this.myAnswers?.from == 'participant', 'cycleValid': this.myAnswers?.from == 'validator'}">
                        </div>
                      </div>
                      <div class="label answer-checkbox">{{answer}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="timer-span">
            <div style="display: flex;">
              <time [timer]="question?.endTime"></time> <div *ngIf="!timeValidating(question)">({{this.getValidatorsAmount(question)}}/{{question?.validatorsAmount}} left)</div>
            </div>
          </div>
          <div style="margin-top: 34px" *ngIf="!finalAnswerGuard(question)">
            <div *ngIf="timeValidating(question)">
              BET <input [(ngModel)]="myAnswers.amount" class="bet-style" /> <span
                (click)="this.setAnswer(question, 'participate')" class="quickBet">QUICK BET</span>
            </div>
          </div>
          <div *ngIf="finalAnswerGuard(question)">
            <div *ngIf="question.status == 'reverted'">
              <p class="notExperts">Not enought Experts</p>
            </div>
          </div>
          <div class="amount_box" *ngIf="this.myAnswers?.answered && this.myAnswers?.betAmount > 0">
            <div class="amount_img"></div>
            <p class="amountText">{{this.myAnswers?.betAmount}} BET</p>
          </div>
        </div>

      </div>

      <div class="room-card-bottom">
        <div class="room-info-list">
          <div class="info-item">
            <div class="avatar mr-2">
              <img src="{{question?.host.avatat}}" alt="avatar">
            </div>
            <div>{{question?.host.nickName}}</div>
          </div>
          <div class="info-item">
            <div class="yellow-parc-img mr-2 ml-3"></div>
            <div><span>{{question?.validated + question?.answerAmount}}</span> Joined</div>
          </div>
          <div class="info-item">
            <div class="bet-img mr-2 ml-3"></div>
            <div><span>200 BET</span> Avg. Bet</div>
          </div>
          <div class="info-item">
            <div class="colorRoom mr-2 ml-3 " [ngStyle]="colorForRoom(question?.room.color)"></div>
            <div><span>{{question?.room.name}}</span> (1200)</div>
          </div>
        </div>
        <div class="room-comment row">
          <div class="col-8 d-flex">
            <div class="comment-img mr-2"></div>
            <div *ngIf="question?.lastComment === 'null'" class="comment-text">
              No comments yet. <span (click)="getCommentById(question?.id)">(leave a comment)</span>
            </div>
            <div *ngIf="question?.lastComment !== 'null'" class="comment-text">
              <p>
                {{question?.lastComment}} <span (click)="getCommentById(question?.id)">(see {{question?.commentsAmount}}
                  more comments)</span>
              </p>
            </div>
          </div>
          <div *ngIf="!finalAnswerGuard(question)">
            <div class="button" *ngIf="timeValidating(question)">
              join now
            </div>
            <div *ngIf="!timeValidating(question)" class="validateNow" (click)="this.setAnswer(question, 'validate')">
              VALIDATE NOW
            </div>
          </div>

          <div class="viewEvent" *ngIf="finalAnswerGuard(question)">
            VIEW EVENT
          </div>
        </div>
      </div>
    </div>
  </div>
</div>