<div style="background: #323231; margin-top: -20px">
  <div class="test-bg2">
    <nav>
      <div class="logo"></div>
      <div class="nav-list">
        <ul>
          <li><a href="#usage" pageScroll>Token Usage</a></li>
          <li><a href="#Tokenomics" pageScroll>Bettery Tokenomics</a></li>
          <li><a href="#Buy" pageScroll>Buy BTY</a></li>
          <li><a href="#Roadmap" pageScroll>Roadmap</a></li>
          <li class="mr-5"><a href="#Resources" pageScroll>Bettery Resources</a></li>
          <li routerLink="/" class=" ar-img position-relative"><a href="#" pageScroll>Bettery Platform</a></li>
        </ul>
      </div>
      <div class="nav-icon">
        <div class="position-relative mr-2">
          <a href="https://www.youtube.com/watch?v=Bw6w00dqMFA" target="_blank" class="nav-img-mail"></a>
        </div>

        <div class="position-relative mr-2">
          <a href="https://web.telegram.org/#/login" target="_blank" class="nav-img-telegram"></a>
        </div>

        <div class="position-relative mr-2">
          <a href="#" target="_blank" class="nav-img-letter"></a>
        </div>
      </div>
      <div class="position-relative">
        <div class="nav-icon2">
          <div class="position-relative mr-2">
            <a href="#" target="_blank" class="nav-img-mail"></a>
          </div>

          <div class="position-relative mr-2">
            <a href="https://web.telegram.org/#/login" target="_blank" class="nav-img-telegram"></a>
          </div>

          <div class="position-relative mr-2">
            <a href="#" target="_blank" class="nav-img-letter"></a>
          </div>
        </div>
        <div ngbDropdown class="mobile-menu">
          <div class="mob-menu-img" id="dropdownBasic1" ngbDropdownToggle></div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="correct-left">
            <a class="mb-4" href="#usage" pageScroll ngbDropdownItem>Token Usage</a>

            <a class="mb-4" pageScroll href="#Tokenomics" pageScroll
               ngbDropdownItem>Bettery Tokenomics</a>

            <a class="mb-4" pageScroll href="#Buy" pageScroll
               ngbDropdownItem>Buy BTY</a>


            <a class="mb-4" pageScroll href="#Roadmap" pageScroll
               ngbDropdownItem>Roadmap</a>

            <a class="mb-4" pageScroll href="#Resources" pageScroll
               ngbDropdownItem>Bettery Resources</a>

            <a class="mb-4 mob-platform" pageScroll href="#" routerLink="/" pageScroll
               ngbDropdownItem>Bettery Platform</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="test-bg">
      <main>
        <div class="wrapper">
          <div class="mobile-bg">
            <header>
              <div class="row header-wrap">
                <div class="col-12 col-md-10 col-lg-6  main-title order-lg-first">
                  <div>
                    <h2><span>Bring Everyone Together on </span></h2>
                    <h1><span>What Matters to You</span></h1>
                    <p>Reimagine discussing the future and monetize your opinions with Bettery, the social betting
                      platform
                      for
                      friends and online communities.</p>
                  </div>
                </div>
                <div class="col-12 col-lg-6  slid-box bg-hard order-first ">
                  <div class="row adap-hard">
                    <div class=" col-12 col-sm-10 col-xl-8 tokSale-Progress">
                      <h3>Token Sale Progress</h3>
                    </div>
                    <div class=" col-12 col-sm-10 col-xl-8 slider">
                      <div class="line-box">
                        <div class="position-relative">
                          <div class="line"></div>
                          <div class="yellow-line" [ngStyle]="yellowLineW()"></div>
                          <div class="line-circle" [ngStyle]="showPercentSlid()"></div>
                        </div>

                        <div class="font-s">
                          <span>{{tokensaleInfo?.tokenSold}} BTY</span> / {{tokensaleInfo?.balance}} BTY
                          ({{calculatePercenta(tokensaleInfo?.tokenSold, tokensaleInfo?.balance)}}%)
                        </div>
                      </div>
                    </div>
                    <div class=" col-12 col-sm-10 col-xl-8 token-left">
                      <h4 class="mb-4">BTY Token left</h4>
                      <div class="tk-left">{{tokensaleInfo?.balance}} BTY</div>
                    </div>
                    <div class=" col-10 col-xl-8 main-button">
                      <button>BUY BTY NOW</button>
                    </div>
                  </div>
                </div>
              </div>
            </header>
            <div class="wrap-for-bg">
              <section id="usage" class="second">
                <div class="second-wrap">
                  <div class="row justify-content-center justify-content-xl-start">
                    <div class="col-10 col-xl-6 pl-0 pr-0">
                      <div class="d-flex">
                        <div>
                          <div class="test-img"></div>
                        </div>
                        <div class="ml-2">
                          <h3>HOW BTY TOKEN IS USED</h3>
                          <p>Early investors benefit from increasing BTY demand for Token Utilities.
                            Learn the social science behind Bettery from our <a href="#">resources.</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row second-bottom">
                    <div class="col-12 col-md-10 col-xl-4 bottom-item">
                      <div class=" item-color-1">
                        <h4>Advertisers</h4>
                        <p>Embrace CPE marketing: promote to a highly concentrated target audience that only cost once
                          they
                          commit
                          your target action of engagement.
                        </p>
                      </div>
                      <div class="gramophone-img white6-img-1"></div>
                    </div>
                    <div class="col-12 col-md-10 col-xl-4 bottom-item">
                      <div class=" item-color-2">
                        <h4>Influencers</h4>
                        <p>Engage your social media community and online users with interactive social games based on
                          awesome
                          content that’s truly yours.</p>
                      </div>
                      <div class="stars-img white6-img-2"></div>
                    </div>
                    <div class="col-12 col-md-10 col-xl-4 bottom-item">
                      <div class=" item-color-3">
                        <h4>BUSINESSES</h4>
                        <p>Get real opinions and genuine insights from comprehensively profiled target audiences
                          effectively
                          to
                          make
                          important business decisions.</p>
                      </div>
                      <div class="bag-img white6-img-3"></div>
                    </div>
                  </div>
                </div>
              </section>

              <section id="Tokenomics" class="third">

                <div class="third-title">
                  <div class="yellow6"></div>
                  <h3>bettery tokenomics explained</h3>
                </div>
                <div class="third-bottom row">
                  <div class="tokenomics-img col-12  col-xl-6"></div>
                  <div class="col-12 col-xl-5">
                    <ul class="tokenomics-list">
                      <li>
                        <span style="color: #FDD92A">what is BTY?</span><br>
                        Bettery’s unique currency that gives everyone equal opportunities to create collective knowledge
                        and
                        earn.
                      </li>
                      <li>
                        <span style="color: #FF9900">BTY supply</span><br>
                        BTY are converted 1:1 from BET Tokens that users grow through social betting events.
                      </li>
                      <li>
                        <span style="color: #54DD96">BTY demand</span><br>
                        Businesses, advertisers, and influencers buy BTY to access Bettery community through Premium
                        events.
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="timerr row">
                  <div class="title-time col-12 col-xl-6">
                    <h4>Bettery full tokenomics
                      will be launched in:</h4>
                    <a href="#" class="learMore-li"> Learn tokenomics details >></a>
                  </div>

                  <div class="col-12 col-xl-6">
                    <div class="time-wrap">
                      <div id="el-1" class="time-el">
                        <div style="display: flex; position: relative">
                          <div class="time-number"><span>{{timer?.days[0]}}</span></div>
                          <div class="time-number"><span>{{timer?.days[1]}}</span></div>
                        </div>
                      </div>

                      <span class="time-point">:</span>

                      <div id="el-2" class="time-el">
                        <div style="display: flex; position: relative">
                          <div class="time-number"><span>{{timer?.hours[0]}}</span></div>
                          <div class="time-number"><span>{{timer?.hours[1]}}</span></div>
                        </div>
                      </div>

                      <span class="time-point">:</span>

                      <div id="el-3" class="time-el">
                        <div style="display: flex; position: relative">
                          <div class="time-number"><span>{{timer?.minutes[0]}}</span></div>
                          <div class="time-number"><span>{{timer?.minutes[1]}}</span></div>
                        </div>
                      </div>

                      <span class="time-point">:</span>

                      <div id="el-4" class="time-el">
                        <div style="display: flex; position: relative">
                          <div class="time-number"><span>{{timer?.seconds[0]}}</span></div>
                          <div class="time-number"><span>{{timer?.seconds[1]}}</span></div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div><a href="#" class="learMore-li-new"> Learn tokenomics details >></a></div>

                </div>
              </section>
            </div>
            <section id="Buy" class="input-box">
              <div class="row">
                <div class="input-left col-12 col-xl-7">
                  <div>
                    <div class="d-flex">
                      <div class="test-img test-img-buy"></div>
                      <h3>HOW TO BUY BTY AND WHY?</h3>
                    </div>
                    <p>BTY assigns real-world value to opinions. As Bettery grows, demand for more engagements and
                      opinions
                      goes
                      up
                      while BTY supply is deccelerated, increasing its value for Users and Investors.
                    </p>
                  </div>
                  <div class="input-xl input-group">
                    <input id="buyInput" class="form-control" type="number" placeholder="Enter BTY Amount"
                           [(ngModel)]="numberOfTokens">
                    <button [ngStyle]="spinner && {'background': '#a4a4a4'}" [disabled]="checkValidBtn()"
                            [ngClass]="checkValidBtn() && 'disabled'"
                            (click)="connectToMetamask()">
                      <span *ngIf="!spinner" style=" color: #1E1E1E; font-size: 20px">BUY WITH METAMASK</span>
                      <span *ngIf="spinner" class="d-flex align-items-center">
                        <span class="spinner spinner--steps icon-spinner img" aria-hidden="true"></span>
                        <span id="spinner-text">
                        Processing your request</span>
                      </span>
                    </button>
                    <p class="mt-4"><span>*</span>You will immediately receive BTY to your purchasing address directly.
                    </p>
                  </div>
                </div>
                <div class="input-right col-12 col-xl-5">
                  <div class="box">
                    <div class="bettery6-img"></div>
                    <ul>
                      <li><span>Token Specification:  <br class="br"></span> <b>ERC20 Utility Token</b></li>
                      <li><span>Total Supply: <br class="br"> </span> <b>Unlimited</b>, decelerated by community.</li>
                      <li><span>Left for Sale: <br class="br"> </span> <b>{{tokensaleInfo?.balance - tokensaleInfo?.tokenSold}} BTY</b></li>
                      <li><span>Purchase method: <br class="br"> </span> Directly with <b>Ethereum</b></li>
                      <li><span>Token Price: <br class="br"> </span> <b>50,000 BTY</b> for <b>1 ETH.</b></li>
                    </ul>
                    <div class="input-sm">
                      <input [(ngModel)]="numberOfTokens" type="number" placeholder="Enter BTY Amount">
                      <button style="padding : 14px 50px 15px 18px"
                              [ngStyle]="spinner && {'background': '#a4a4a4', 'padding' : '19px 50px 18px 18px'}"
                              [disabled]="checkValidBtn()"
                              [ngClass]="checkValidBtn() && 'disabled'"
                              (click)="connectToMetamask()"
                              class="btn-2"
                      >
                     <span class="d-flex justify-content-center">
                          <span *ngIf="!spinner" style=" color: #1E1E1E; font-size: 20px">BUY WITH METAMASK</span>
                        <span *ngIf="spinner" class="d-flex align-items-center">
                        <span class="spinner spinner--steps icon-spinner img" aria-hidden="true"></span>
                        <span id="spinner-text2">
                        Processing your request</span>
                      </span>
                     </span>
                      </button>
                      <p style="color: white" class="mt-3"><span style="color: #FFD300">*</span>You will immediately
                        receive
                        BTY to your purchasing address directly.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section id="Roadmap" class="road-map">
              <div class="road-map-title">
                <div class="d-flex justify-content-center j-content-start">
                  <div class="yellow6"></div>
                  <h2>Bettery ROADMAP</h2>
                </div>
                <p>Bettery is designed to be a digital playground for people and brands to build genuine relationships
                  with
                  one
                  another. We always communicate our development activities to the public.</p>
              </div>
              <div class="road-map-warp row">
                <div class="col-12 col-lg-6 col-xl-3 road-item-active">
                  <div class="road-map-item">
                    <span id="active2" class="mb-2">NOV - 2020</span>
                    <p>Public prototype: Hosts, Players, and Experts in Public + Private Events.</p>
                  </div>
                </div>

                <div class="col-12 col-lg-6 col-xl-3">
                  <div class="road-map-item">
                    <span class="mb-2">Q1 - 2021</span>
                    <p>User Reputation system. Tokenomy. Premium Events.</p>
                  </div>
                </div>

                <div class="col-12 col-lg-6 col-xl-3">
                  <div class="road-map-item">
                    <span class="mb-2">Q2 - 2021</span>
                    <p>Desktop version. Advisor & Moderator roles. Media in Events.</p>
                  </div>
                </div>

                <div class="col-12 col-lg-6 col-xl-3">
                  <div class="road-map-item">
                    <span class="mb-2">Q3 - 2021</span>
                    <p>Mobile application. Integration to Social Media. Live Events.</p>
                  </div>
                </div>

              </div>


              <ngb-carousel class="mobile-carousel" [interval]="0">
                <ng-template ngbSlide>

                    <div class="col-12 col-lg-6 col-xl-3 road-item-active">
                      <div class="road-map-item">
                        <span id="active" class="mb-2">NOV - 2020</span>
                        <p>Public prototype: Hosts, Players, and Experts in Public + Private Events.</p>
                      </div>
                    </div>

                </ng-template>
                <ng-template ngbSlide>

                    <div class="col-12 col-lg-6 col-xl-3">
                      <div class="road-map-item">
                        <span class="mb-2">Q1 - 2021</span>
                        <p>User Reputation system. Tokenomy. Premium Events.</p>
                      </div>
                    </div>

                </ng-template>
                <ng-template ngbSlide>
                  <div class="col-12 col-lg-6 col-xl-3">
                    <div class="road-map-item">
                      <span class="mb-2">Q2 - 2021</span>
                      <p>Desktop version. Advisor & Moderator roles. Media in Events.</p>
                    </div>
                  </div>
                </ng-template>

                <ng-template ngbSlide>
                  <div class="col-12 col-lg-6 col-xl-3">
                    <div class="road-map-item">
                      <span class="mb-2">Q3 - 2021</span>
                      <p>Mobile application. Integration to Social Media. Live Events.</p>
                    </div>
                  </div>
                </ng-template>
              </ngb-carousel>


              <div class="road-details">
                <a href="#">Detailed Roadmap >></a>
              </div>
            </section>
            <section id="Resources" class="resources-footer bg-square">
              <div class="resources row">

                <div class="col-12 col-xl-6">
                  <div class="d-flex">
                    <div class="test-img  test-img-resources"></div>
                    <h2>Bettery Resources</h2>
                  </div>
                  <p class="p-60">Instead of a lengthy, brain-numbing whitepaper filled with marketing bluffs, we cover
                    all info
                    about
                    Bettery and BTY tokens through meaningful articles that’ll give you a pleasant read.</p>
                  <div class="res-icon-wrap row">
                    <div class="icon-set col-6 col-md-3">
                      <div class="group-world-img"></div>
                      <p>Platform</p>
                    </div>
                    <div class="icon-set col-6 col-md-3">
                      <div class="group-letter-img"></div>
                      <p>Blog</p>
                    </div>

                    <div class="icon-set col-6 col-md-3">
                      <div class="group-telegram-img"></div>
                      <p>Telegram</p>
                    </div>

                    <div class="icon-set col-6 col-md-3">
                      <div class="group-mail-img"></div>
                      <p>Email</p>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-xl-6">
                  <ul>
                    <li>Not Gambling: Bettery Social Betting is Fun and Risk-Free</li>
                    <li>How Bettery Enables Everyone to Sell Their Knowledge</li>
                    <li>Bettery User Journey: Choose Your Favorite Role, Grow Reputation, and Earn</li>
                    <li>How Bettery Grows the Value of BTY Organically: Bettery Tokenomics Explained</li>
                  </ul>
                </div>
              </div>
              <div class="footer row">
                <div class="footer-logo-img col-12 col-md-2"></div>
                <div class="footer-middle col-12 col-md-4">
                  <h4>About Us</h4>
                  <p>Bettery is a social pool betting platform for friends and online communities to have fun on what
                    matters
                    to
                    you. Through betting events, collective social knowledge is created for businesses, influencers, and
                    advertisers, while users earn from their opinions.</p>
                </div>
                <div class="footer-subscribe col-12 col-md-4">
                  <h4>Stay in touch</h4>
                  <p>Subscribe to our monthly newsletter. No spam. No ads.
                    Just valuable content that’s a pleasure to read.</p>

                  <form action="#">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control subscribe-input" placeholder="Enter email address"
                             aria-label="Recipient's username"
                             aria-describedby="basic-addon2">
                      <div class="input-group-append btn-sub">
                        <button class="btn btn-outline-secondary" type="button">Subscribe</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
