<ng-container *ngIf="!confirm">
  <ng-container>
    <div *ngIf="!ifTimeValid" class="head">
      <div class="title">
        <span>Come back to validate after betting ends in</span>
      </div>

      <div class="timer">
        <p>{{allTime.hour}}:{{allTime.minutes}}:{{allTime.seconds}}</p>
      </div>
    </div>
    <div *ngIf="ifTimeValid" class="head">
      <div class="title">
        <h3>welcome, EXPERT!</h3>
        <span>Time left to validate</span>
      </div>
      <div class="timer">
        <p>{{allTime.hour}}:{{allTime.minutes}}:{{allTime.seconds}}</p>
      </div>
    </div>
    <div class="question_second_true">
      <div class="question_text">
        <p>{{data?.question}}</p>
      </div>
    </div>
    <div *ngIf="!ifTimeValid" class="answers">
      <ng-container>
        <div class="answers_item" *ngFor="let a of data?.answers">
          <div>{{a}}</div>
        </div>
      </ng-container>
    </div>
    <form *ngIf="ifTimeValid" action="#" [formGroup]="answerForm" (change)="formValid = false">
      <div class="answers_item" *ngFor="let a of data?.answers">
        <div class="pretty p-default p-round ">
          <input class="input" formControlName="answer" type="radio" name="answer" value="{{a}}">
          <div class="state">
            <label><b>{{a}}</b></label>
          </div>
        </div>
      </div>
      <div *ngIf="formValid" class="form_valid">Please make your choice</div>
    </form>
    <div class="resolution_details">
      How to verify: <span>www.cnn.com</span>
    </div>
    <ng-container *ngIf="!ifTimeValid">
      <div class="someText">
        <p><span>{{data?.parcipiantAnswers ? data?.parcipiantAnswers.length : 0}} Players</span> placed their bet so far.</p>
      </div>
    </ng-container>
    <div *ngIf="!ifTimeValid" class="btn_join_expert">
      <button (click)="backPrev(true)">VIEW EVENT STATUS</button>
    </div>
    <ng-container *ngIf="ifTimeValid">
      <div class="someText">
        <p>The Expert decides who’s right based on the true result.<span> Don't bluff, say what you know only!</span> </p>
        <br>
        <p><span>{{data?.parcipiantAnswers ? data?.parcipiantAnswers.length : 0}} Players</span> are waiting for you.</p>
      </div>
      <div *ngIf="errorMessage">
        <div class="errorImg"></div>
        <p class="errMsg">{{errorMessage}}</p>
    </div>
      <div *ngIf="ifTimeValid" class="btn_join_expert">
        <button (click)="isConfirm2(answerForm)">CONFIRM</button>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="confirm">
  <div class="pt-4 mb-4 title_thank">
    <h3> Thank you for validating!</h3>
  </div>
  <div class="question_second_true">
    <div class="question_text w-100">
      <div class="question-padding">
        <p>{{data?.question}}</p>
      </div>
      <div class="hr hr-w"></div>
      <div>
        <div class="your_answer">
          <p>Your Answer <br>
            <span>fakeAnswer</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="event_over">
    <h3>The Event is now over!</h3>
  </div>
  <div class="btn_join_expert">
    <button (click)="change2(true)">VIEW EVENT RESULT</button>
  </div>
</ng-container>

<app-spinner-loading *ngIf="spinnerLoading"></app-spinner-loading>
