<ng-container>
  <div class="now_batting__title">
    <div class="login_name">
      <div>
        <h3>Tony,</h3>
        <p>you’re joining as an <span>Expert</span></p>
      </div>
    </div>
  </div>
  <div class="event">EVENT</div>
  <div class="question_second">
    <div class="question_text">
      <p>data?.question</p>
    </div>
  </div>
  <div class="event">VALIDATE AFTER</div>
  <div class="question_second">
    <div class="question_text">
      <p>20 AUG 2020, 10:45PM </p>
    </div>
  </div>
<!--TO DO & DO-->
</ng-container>
