<div class="auth_module">
    <div class="auth_box">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div>
                <h4 class="auth_title">Authentication</h4>
                <fa-icon (click)="authModal()" class="auth_modal_close" [icon]="faTimes"></fa-icon>
            </div>
            <div class="form_container">
                <div>
                    <p class="auth_label">Email</p>
                    <input class="auth_input" type="text" formControlName="email">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div>
                    <p class="auth_label">Password</p>
                    <input type="password" formControlName="password" class="auth_input">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>

            </div>
            <div class="form_container button_pos">
                <button class="auth_button_box button_cancel" type="reset" (click)="onReset()">Cancel</button>
                <button class="auth_button_box button_regist">Regist</button>
            </div>
        </form>
    </div>
</div>