<div class="box">
    <div *ngIf="!letsJoin">
        <p class="title">You're invited to an event by </p>
        <div class="boxName">
            <p class="hostName">{{eventData?.host.nickName}}</p>
            <div class="bookImg" (click)="openComingSoonModal(comingSoon)"></div>
        </div>
        <div class="gradientBox">
            <div class="avatarBox">
                <img class="avatar" src={{eventData?.host.avatat}} referrerpolicy="no-referrer">
            </div>
            <div class="eventBox">
                <p class="eventName">{{eventData?.question}}</p>
            </div>
        </div>
        <div class="arrow"></div>
        <div class="info">How to participate?</div>
        <div>GIF</div>
        <button class="join" (click)="join()">JOIN</button>
    </div>
    <div *ngIf="letsJoin" class="bg_img">
        <div *ngIf="showEvent()">
            <div *ngIf="!validation">
                <div class="titleBox" *ngIf="participatedAnswer.length == 0">
                    <div class="imgCoin"></div>
                    <p class="titleBetting">NOW BETTING</p>
                </div>
                <div class="titleBox" *ngIf="participatedAnswer.length != 0">
                    <p class="partTitile">Thank you for playing!</p>
                </div>
                <p class="titleTwo">Betting ends in <b
                        style="font-weight: 600;">{{day}}:{{hour}}:{{minutes}}:{{seconds}}</b></p>
            </div>
            <div *ngIf="validation">
                <div class="titleBox" *ngIf="validatedAnswer.length == 0">
                    <div class="checkImg"></div>
                    <p class="titleBetting">NOW VALIDATING</p>
                </div>
                <div class="titleBox" *ngIf="validatedAnswer.length != 0">
                    <p class="validTitle">Thank you for validating!</p>
                </div>
                <p class="only">Only {{remainderExperts()}} more experts to go</p>
            </div>

            <div class="quizBoxTwo">
                <p class="quizText">{{eventData.question}}</p>
            </div>

            <div *ngFor="let answer of eventData.answers; index as i">
                <div class="answerBoxCreated">
                    <p class="answerCreated">{{answer}}</p>
                    <div *ngIf="participatedAnswer.length != 0 && participatedAnswer[0].answer == i"
                        class="participatedAnswer">
                        <p class="partAmount">{{participatedAnswer[0].amount}} {{coinType}}</p>
                        <img class="avatarHost partPostAvatar" src={{userData.avatar}} referrerpolicy="no-referrer">
                    </div>
                    <div *ngIf="validatedAnswer.length != 0 && validatedAnswer[0].answer == i"
                        class="participatedAnswer">
                        <img class="avatarHost partPostAvatar" src={{userData.avatar}} referrerpolicy="no-referrer">
                    </div>
                </div>
            </div>

            <div class="answerBoxResolution">
                <p class="resolutionText">How to verify: <b>www.cnn.com</b></p>
            </div>

            <div class="arrow"></div>

            <div>
                <div class="infoLabelPos">
                    <p class="infoLabel">HOST:</p>
                    <div class="hostBox">
                        <p class="name">{{eventData?.host.nickName}}</p>
                        <img class="avatarHost" src={{eventData.host.avatat}} referrerpolicy="no-referrer">
                    </div>
                </div>
                <div class="infoLabelPos">
                    <p class="infoLabel">{{poolName()}} pool:</p>
                    <p class="name">{{currentPool}} {{coinType}}</p>
                </div>
                <div class="infoLabelPos">
                    <p class="infoLabel">PLAYERS joined:</p>
                    <div class="partBox">
                        <div *ngFor="let part of eventData.parcipiantAnswers; index as i">
                            <div [ngStyle]="getPartPos(i, 'part')">
                                <img *ngIf="i <= 3" class="partImg" referrerpolicy="no-referrer" src="{{part.avatar}}">
                            </div>
                        </div>
                        <p class="name playersNumber">{{playersJoinde}}</p>
                    </div>
                </div>
                <div class="infoLabelPos" *ngIf="!validation">
                    <p class="infoLabel">Experts needed:</p>
                    <div class="partBox">
                        <p class="name playersNumber">{{validatorsNeeded()}}</p>
                    </div>
                </div>
                <div *ngIf="validation" class="infoLabelPos">
                    <p class="infoLabel">EXPERTS joined:</p>
                    <div class="partBox">
                        <div *ngFor="let valid of eventData.validatorsAnswers; index as i">
                            <div [ngStyle]="getPartPos(i, 'valid')">
                                <img *ngIf="i <= 3" class="partImg" referrerpolicy="no-referrer" src="{{valid.avatar}}">
                            </div>
                        </div>
                        <p class="name playersNumber">{{expertJoinned}}</p>
                    </div>
                </div>
            </div>

            <div *ngIf="!created">
                <div *ngIf="!validation">
                    <button class="buttonBecome buttonColorPlayer" (click)="joinAsPlayer()">JOIN AS PLAYER</button>
                    <a class="linkInfo colorLinkPlayer" (click)="modalAboutPlayers()">What is a Player?</a>
                </div>
                <button class="buttonBecome buttonColorExpert" (click)="joinAsExpert()">BECOME AN EXPERT</button>
                <a class="linkInfo colorLinkExpert" (click)="modalAboutExpert()">What is an Expert?</a>
            </div>

            <div class="arrow"></div>

            <div class="sendCommentBox">
                <div class="addCommentBox">
                    <p class="addCommentText">Add a comment...</p>
                </div>
                <div class="sendImg"></div>
            </div>

            <div class="commentBox">
                <div class="commentHeader">
                    <div class="senderBox">
                        <div class="commentImg face1"></div>
                        <p class="commentName">Jenna Logan</p>
                    </div>
                    <div class="timeBox">1 day ago</div>
                </div>
                <div>
                    <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="commentBox">
                <div class="commentHeader">
                    <div class="senderBox">
                        <div class="commentImg face2"></div>
                        <p class="commentName">Terry Crews</p>
                    </div>
                    <div class="timeBox">1 day ago</div>
                </div>
                <div>
                    <p class="comment mb-0 pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <info *ngIf="showInfo()" [eventData]="eventData" [joinedAs]="joinedAs" (goBack)="goBack()" (agree)="agree()">
        </info>
        <participate *ngIf="showParticipate()" [eventData]="eventData" (goBack)="goToInfo('player')"
            (goViewStatus)="interactionDone($event)"></participate>
        <validate *ngIf="showValidate()" [eventData]="eventData" (goBack)="goToInfo('expert')"
            (goViewStatus)="interactionDone($event)"></validate>
    </div>
</div>

<app-spinner-loading *ngIf="spinnerLoading"></app-spinner-loading>

<ng-template #comingSoon let-modal>
    <button type="button" class="close comingSoonClose" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <p class="title_coming_soon">COMING SOON</p>
        <p class="text_coming_soon">In the next updates, you can check more details about the event host here.</p>
    </div>

</ng-template>
