<div class="block_spinner_box" [ngClass]="withoutSpinner && 'top70'" [ngStyle]="styleDesktop()">
  <div *ngIf="!withoutSpinner" class="main1">
    <div class="div all" [ngClass]="activated[0]"></div>
    <div class="div2 all" [ngClass]="activated[0]"></div>
    <div class="div3 all" [ngClass]="activated[0]"></div>

    <div class="div4 all" [ngClass]="activated[1]"></div>
    <div class="div5 all" [ngClass]="activated[1]"></div>
    <div class="div6 all" [ngClass]="activated[1]"></div>

    <div class="div7 all" [ngClass]="activated[2]"></div>
    <div class="div8 all" [ngClass]="activated[2]"></div>
    <div class="div9 all" [ngClass]="activated[2]"></div>

    <div class="div10 all" [ngClass]="activated[3]"></div>
    <div class="div11 all" [ngClass]="activated[3]"></div>
    <div class="div12 all" [ngClass]="activated[3]"></div>
    <div class="text" [ngClass]="desktop && 'desktopPosition'">
      <h4 *ngIf="!desktop">Processing</h4>
      <h4 *ngIf="desktop">Loading...</h4>
    </div>
  </div>
</div>
