<div *ngIf="!loginWithMetamsk">
    <div>
        <h4 class="registration_title">Login</h4>
        <fa-icon (click)="closeModal()" class="modal_close" [icon]="faTimes"></fa-icon>
    </div>
    <div class="login_button">
        <button class="btn btn-primary" (click)="loginMetamask()">Login with Metamask</button>
    </div>
    <div class="login_button">
        <button class="btn btn-danger googleLogin" (click)="signInWithGoogle()">
            <fa-icon [icon]="faGoogle"></fa-icon>
        </button>
        <button class="btn btn-primary" (click)="signInWithFB()">
            <fa-icon [icon]="faFacebook"></fa-icon>
        </button>
    </div>
</div>
<div *ngIf="loginWithMetamsk">
    <div *ngIf="spinner">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div *ngIf="!spinner">
        <div *ngIf="networkEror">
            <p class="networkError">Plaese switch your network in MetaMask to the Rinkeby network.</p>
        </div>
        <div *ngIf="!networkEror">
            <div>
                <h4 class="registration_title">Registration</h4>
                <fa-icon (click)="closeModal()" class="modal_close" [icon]="faTimes"></fa-icon>
            </div>
            <div *ngIf="metamaskError !== undefined">
                <p class="metamask_error">{{metamaskError}}</p>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="metamaskError === undefined ">
                <div>
                    <p class="user_wallet"><b>Wallet:</b> {{userWallet}}</p>
                </div>

                <div class="form_container">
                    <div class="form-group">
                        <label for="nickNameForm">Nick Name <b style="font-size: 12px">*required</b></label>
                        <input type="text" formControlName="nickName" class="form-control" id="nickNameForm"
                            placeholder="Enter nick name">
                        <div *ngIf="submitted && f.nickName.errors">
                            <small *ngIf="f.nickName.errors.required" class="form-text error-feedback ">Nick Name is
                                required</small>
                            <small *ngIf="f.nickName.errors?.minlength" class="form-text error-feedback ">
                                Nick Name must be at least 6 characters</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailForm">Email <b style="font-size: 12px">*optional</b></label>
                        <input type="text" formControlName="email" class="form-control" id="emailForm"
                            placeholder="Enter email">
                        <div *ngIf="submitted && f.email.errors">
                            <small *ngIf="f.email.errors.email" class="form-text error-feedback ">Email must be a valid
                                email address</small>
                        </div>
                    </div>
                </div>
                <div *ngIf="registerError !== undefinded" class="register_error">
                    <p>{{registerError}}</p>
                </div>
                <div class="form_container button_pos">
                    <button type="reset" class="btn btn-danger regist_button_box" (click)="onReset()">Cancel</button>
                    <button class="btn btn-success regist_button_box">Regist</button>
                </div>
            </form>
        </div>
    </div>
</div>