
<!--  <div class="wrapper">-->
<!--    <div class="main">-->
<!--      <h1>events-templates-desktop works!</h1>-->
<!--    </div>-->
<!--  </div>-->


<div class="main">
  <div *ngIf="whichEvent != 'createPrivateEvent' && whichEvent != 'createPublicEvent'" class="bg-img">
    <p class="createEvent">CREATE EVENT</p>
    <div class="markBox">
      <div class="tabSpace">
        <div class="circle" [ngStyle]="getCircleOneStyle()">
          <p class="number" [ngStyle]="getNumberOneStyle()"></p>
        </div>
        <p class="tabName">Topic</p>
      </div>
      <div class="vectorOne"></div>
      <div class="tabSpace">
        <div class="circle" [ngStyle]="getCircleTwoStyle()">
          <p class="number" [ngStyle]="getNumberTwoStyle()"></p>
        </div>
        <p class="tabName">Room</p>
      </div>
      <div class="vector" [ngStyle]="vectorStyle()"></div>
      <div class="tabSpace">
        <div class="circle" [ngStyle]="getCircleThreeStyle()">
          <p class="number" [ngStyle]="getNumberThreeStyle()"></p>
        </div>
        <p class="tabName">Rules</p>
      </div>
    </div>
      <set-question-desktop *ngIf="whichEvent=='setQuestion'" [formData]="formData" (getData)="swithToCreateRoom($event)">
      </set-question-desktop>
      <create-room-desktop *ngIf="whichEvent=='createRoom'" [formData]="formData" (goBack)="swithToSetQuestion($event)"
                       (goNext)="switchToMakeRules($event)"></create-room-desktop>
      <make-rules-desktop *ngIf="whichEvent=='makeRules'" [formData]="formData" (goBack)="swithToCreateRoomTab($event)"
                      (goPrivateEvent)="switchToPrivateEvent($event)" (goPublicEvent)="switchToPublicEvent($event)" ></make-rules-desktop>
  </div>
  <div *ngIf="whichEvent == 'createPrivateEvent' || whichEvent == 'createPublicEvent'">
      <private-event-desktop *ngIf="whichEvent=='createPrivateEvent'" (goBack)="switchToMakeRuleTab()" [formData]="formData"></private-event-desktop>
      <public-event-desktop *ngIf="whichEvent=='createPublicEvent'" (goBack)="switchToMakeRuleTab()" [formData]="formData"></public-event-desktop>
  </div>

</div>
