<div class="main">
  <div class="top">
    <div class="top-box">
      <div class="question-title">
        <h1>What question do you have in mind now?</h1>
      </div>
      <div class="input-box row">
        <input [(ngModel)]="newCreateEvent" placeholder="Enter the question..."
               class="col-10 col-xl-6 col-md-10 mr-lg-4 mb-4 mb-xl-0" type="text">
        <button class=" col-10 col-xl-3 col-md-4" (click)="sendNewEvent()" routerLink="/create-event">Create Event
        </button>
      </div>
    </div>
  </div>

  <div class="middle row">
    <div class=" middle-wrap d-flex col-xl-8 col-lg-8">
      <div (click)="showAllRooms()" class="btn-middle"
           [ngClass]="(btnMiddleActive === 'showAllRoom' || btnMiddleActive === 'searchInput')  && 'btn-middle-active'">
        <div class="square-9-img mr-3" [ngClass]="btnMiddleActive === 'showAllRoom' ? 'square-9-img' : 'square-dis-img'"></div>
        <span>Discover</span>
      </div>
      <div (click)="showUsersRoom()" class="btn-middle"
           [ngClass]="btnMiddleActive === 'showUsersRoom' && 'btn-middle-active'">
        <div class="deactivate-2"></div>
        <span>My Rooms</span>
      </div>
      <div (click)="comingSoon()" class="btn-middle"
           [ngClass]="btnMiddleActive === 'joinedRoom' && 'btn-middle-active'">
        <span>Joined Rooms</span>
      </div>
      <div class="btn-middle" [ngClass]="btnMiddleActive === 'searchInput' && 'btn-middle-active'">
        <div (click)="showSearchInput()" class="search-img"></div>
        <input [(ngModel)]="searchWord" (keyup)="letsFindRooms($event)" class="search-input"
               [ngClass]="showInputFlag && 'search-input-active'" type="text">
      </div>
    </div>
    <div class="col-lg-4 d-flex justify-content-end media-pagination">
      <div class="pagination">
        <div class="filter">Filter by subject ({{forFilterBySubject()}}/{{allRooms?.length}})</div>
        <div (click)="prevRooms()" class="left-img-1"></div>
        <div class="ml-3 mr-3 count">{{pageRoom}} / <span>{{letsFindRoomsLength()}}</span></div>
        <div (click)="nextRooms()" class="right-img-1"></div>
      </div>
    </div>
  </div>

  <div style="margin: 150px auto" *ngIf="!spinner">
    <app-spinner-loading class="lds-ripple" [desktop]="true"></app-spinner-loading>
  </div>

  <div *ngIf="spinner" class="bottom">

    <div *ngIf="!comSoon" class="card-wrap row">
      <div (click)="activeCard(i)" *ngFor="let room of roomsSort; let i = index"
           class="card-item col-xl-3 col-lg-6 col-md-12"
           [ngClass]="i === activeRoom && testAnimation === i && 'card-item-down'">
        <div class="inside">
          <div class="avatar-wrap" [ngStyle]="{'background': room?.color}">
            <div class="avatar">
              <img src="{{room?.user.avatar}}" alt="#" referrerpolicy="no-referrer">
            </div>
          </div>
          <div class="name-wrap">
            <div class="nameRoom">{{room?.name}}</div>
            <div class="d-flex ml-1">
              <span style="font-size: 12px; line-height: 22px">{{room?.joinedUsers}}</span>
              <div class="desc-parcip-img ml-2"></div>
            </div>
          </div>
          <div class="icon-wrap">


            <div class="d-flex" style="width: 50%">
              <div class="nameUser pr-2">{{room?.user.nickName}}</div>
              <div class="d-flex" style="visibility: hidden">
                <div class="desc-rating-img mr-2"></div>
                <span style="color: #FFD300">11</span>
              </div>
            </div>
            <div class="d-flex" style="align-items: center">
              <span style="font-size: 12px; line-height: 22px">{{room?.privateEventsId.length > 0 ? room?.privateEventsId.length : room?.publicEventsId.length}}</span>
              <div class="desc-list-img ml-2"></div>
            </div>
          </div>

          <div *ngIf="i === activeRoom" class="activeCardButton" [ngClass]="i === activeRoom && 'test'">
            <div class="insid">
              <div *ngIf="(room?.privateEventsId.length > 0 || room?.publicEventsId.length > 0)" class="card-question">
                {{forEventId?.question}}
                <span *ngIf="!(room?.privateEventsId.length === 1 || room?.publicEventsId.length === 1)"
                      class="nameUser">(+{{room?.privateEventsId.length > 0 ? room?.privateEventsId.length - 1 : room?.publicEventsId.length - 1}}
                  events)</span>
              </div>
              <div *ngIf="(room?.privateEventsId.length === 0 && room?.publicEventsId.length === 0)" class="noEvents">
                <p>No Events at the moment</p>
              </div>
              <div class="join-room">
                <button routerLink="/room/{{room.id}}">View Room</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="comSoon">
      <div class="comingSoon">
        <h1>Coming soon</h1>
      </div>
    </div>

    <div class="notFound" *ngIf="btnMiddleActive === 'showUsersRoom' && roomsSort?.length === 0">
      <div class="noFollowEvents-img"></div>

      <div class="notFound-title">
        <h4 style="color: #939393">
          No Events at the moment
        </h4>
      </div>
      <div class="notFound-text">
        <p>
          Join some Rooms or Events if you haven't already to get updates in your Following timeline.
        </p>
      </div>
    </div>



  </div>
</div>
