<p *ngIf="statusTime === 'end'" class="time_style endTime">{{future}}</p>

<p [ngStyle]="correctMarginLeft()" style="margin-left: 63px" *ngIf="statusTime === 'green'" class="time_style">{{future}}
  <span class="timeStyle" [ngStyle]="styleTime('green')">{{day}} days</span>
</p>

<p style="margin-left: 49px" *ngIf="statusTime === 'yellow'" class="time_style">{{future}}
  <span  class="time_Style" [ngStyle]="styleTime('yellow')">{{hour}}:{{minutes}}:{{seconds}}</span>
</p>

<p style="margin-left: 71px" *ngIf="statusTime === 'red'" class="time_style">{{future}}
  <span class="time_Style" [ngStyle]="styleTime('red')">{{minutes}}:{{seconds}}</span>
</p>
