<div class="card card_box">
    <div class="card-body">
        <div class="title">
            <p class="question">{{question.question}}</p>
            <p class="from">You are: {{this.getPosition(question)}}</p>
            <a [routerLink]="['/~ki339203/question', question.id]">Open Link</a>
            <button type="button" *ngIf="this.whichComponent()" (click)="deleteInvitation(question)"
                class="btn btn-danger btn-sm">Delete Invitation</button>
        </div>
        <div class="hashtags_box">
            <p class="hashtags" *ngFor="let hashtag of question.hashtags">#{{hashtag}}</p>
        </div>
        <div class="info">
            <p>Status: {{question.private === true ? "Private" : "Public"}}</p>
            <p>Bet amount: {{question.money}} <span>{{question.currencyType}}</span></p>
            <p>Wins: 2%, 3%, 5%, 90%</p>
        </div>
        <div class="answers_box">
            <div class="validators_box">
                <p>Validators ({{question.validated}} of {{question.validatorsAmount}})</p>
                <div *ngIf="validatorGuard(question)">
                    <div class="participants_Percentage_box" *ngFor="let answer of question.answers; let i = index">
                        <p class="participants_Percentage">{{this.getValidatorsPercentage(question, i)}} %
                        </p>
                    </div>
                </div>
            </div>
            <div class="participants_box">
                <p>Participants ({{question.answerAmount}})</p>
                <div *ngIf="participantGuard(question)">
                    <div class="participants_Percentage_box" *ngFor="let answer of question.answers; let i = index">
                        <p class="participants_Percentage">{{this.getParticipantsPercentage(question, i)}} %</p>
                    </div>
                </div>
            </div>
            <div class="answers">
                <p>Answers</p>
                <div *ngIf="finalAnswerGuard(question)">
                    <div>
                        <div class="answered_Box" *ngFor="let answer of question.answers; let i = index">
                            <fa-icon class="iconCheck" *ngIf="myAnswers.answer === i" [icon]="faCheck"></fa-icon>
                            <p [ngClass]="{'text-success event_is_finish':question.finalAnswer === i}" class="answered">
                                {{answer}}</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="!finalAnswerGuard(question)">
                    <div *ngIf="question.multiChoise === true">
                        <div *ngIf="myAnswers.answered === false">
                            <div class="each_answer" *ngFor="let answer of question.answers; let i = index">
                                <input (click)="this.makeMultyAnswer(question, i, $event)" class="checkbox_answer"
                                    id="{{question.id}}{{question.from}}" value="i" type="checkbox">
                                <label class="label">{{answer}}</label>
                            </div>
                        </div>
                        <div *ngIf="myAnswers.answered === true">
                            <div class="answered_Box" *ngFor="let answer of question.answers; let i = index">
                                <fa-icon class="iconCheck" *ngIf="this.getMultyIcon(myAnswers.multyAnswer, i)"
                                    [icon]="faCheck"></fa-icon>
                                <p class="answered">{{answer}}</p>
                            </div>
                        </div>

                    </div>
                    <div *ngIf="question.multiChoise === false">
                        <div *ngIf="myAnswers.answered === false">
                            <div class="each_answer" *ngFor="let answer of question.answers; let i = index">
                                <input class="checkbox_answer" id="{{question.id}}{{question.from}}"
                                    (click)="this.makeAnswer(i)" value="i" type="radio"
                                    name="{{question.id}}{{question.from}}">
                                <label class="label">{{answer}}</label>
                            </div>
                        </div>

                        <div *ngIf="myAnswers.answered === true">
                            <div class="answered_Box" *ngFor="let answer of question.answers; let i = index">
                                <fa-icon class="iconCheck" *ngIf="myAnswers.answer === i" [icon]="faCheck"></fa-icon>
                                <p class="answered">{{answer}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div *ngIf="!finalAnswerGuard(question)" class="time">
                <p style="height: 25px"> </p>
                <p style="display: flex">Participation <time [timer]="question.startTime"></time></p>
                <p style="display: flex">Validation <time [timer]="question.endTime"></time></p>
                <p style="display: flex">Validation over <time [timer]="this.getEndValidation(question)"></time>
                </p>
            </div>
        </div>

        <div class="button_box" *ngIf="!finalAnswerGuard(question)">
            <div *ngIf="myAnswers.answered === false">
                <button (click)="this.deleteEvent(question)" type="button" class="btn btn-danger delete_button"
                    *ngIf="this.validateDeleteButton(question)">Delete
                    Event</button>
                <div class="d-inline-block" *ngIf="this.particCryptoGuard(question)">
                    <button type="button" class="btn btn-primary" (click)="this.setAnswer(question, 'crypto')">Participate</button>
                </div>
                <button type="button" class="btn btn-success" *ngIf="this.validGuard(question)" (click)="this.setAnswer(question, 'validate')">Validate</button>
            </div>
            <div *ngIf="errorValidator.idError === question.id">
                <p class="error_answer">{{errorValidator.message}}</p>
            </div>
        </div>
        <div class="button_box" *ngIf="question.finalAnswer !== null">
            <p class="text-success event_is_finish">Event is finish.</p>
        </div>
        <div class="button_box" *ngIf="question.reverted">
            <p class="text-danger event_is_finish">Event is revered.</p>
        </div>
    </div>
</div>