<div class="container">
    <div *ngIf="spinner">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>


    <div *ngIf="!spinner">
        <div *ngIf="empty">
            <p style="text-align: center">Sorry but we can't find your question</p>
        </div>
        <div *ngIf="!empty">
            <quiz-template [coinInfo]="coinInfo" [myAnswers]="myAnswers" [userData]="userData"
                    [question]="question" [fromComponent]="fromComponent" (callGetData)="getQuizeId()"></quiz-template>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Role</th>
                    <th scope="col">From</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of historyAction; index as i">
                    <td>{{history.time | date:'short'}}</td>
                    <td>{{ history.action}}</td>
                    <td>{{ history.from }}</td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="infoData !== undefined">
            <p>Money on event - {{this.weiConvert(infoData.money)}}
                <span *ngIf="question.tokenPay == false">QUIZE</span>
                <span *ngIf="question.tokenPay == true">ETH</span>
            </p>
            <p>Money for company - {{this.weiConvert(infoData.persentFeeCompany)}}
                <span *ngIf="question.tokenPay == false">QUIZE</span>
                <span *ngIf="question.tokenPay == true">ETH</span>
            </p>
            <p>Money for host - {{this.weiConvert(infoData.persentFeeHost)}}
                <span *ngIf="question.tokenPay == false">QUIZE</span>
                <span *ngIf="question.tokenPay == true">ETH</span>
            </p>
            <p>Money for each validators - {{this.weiConvert(infoData.persentForEachValidators)}} 
                <span *ngIf="question.tokenPay == false">QUIZE</span>
                <span *ngIf="question.tokenPay == true">ETH</span>
            </p>
            <p>Money for each participant - {{this.weiConvert(infoData.moneyForParticipant)}} 
                <span *ngIf="question.tokenPay == false">QUIZE</span>
                <span *ngIf="question.tokenPay == true">ETH</span>
            </p>
        </div>
    </div>
</div>