<div>
  <div>
    <button type="button" class=" soonClose close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="metaMaskFox-img"></div>
  </div>
  <div>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div>
    <p class="modal-text">{{message}}</p>
  </div>
  <div class="modal-two-btn" *ngIf="title === 'Metamask required!'">
    <button class="btn-1" (click)="activeModal.dismiss('Cross click')">CANCEL</button>
    <a target="_blank" href="https://metamask.io/" class="btn-2">INSTALL</a>
  </div>
</div>