<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Role</th>
                <th scope="col">Event ID</th>
                <th scope="col">Action</th>
                <th scope="col">Money</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let history of historyData; index as i">
                <td>{{history.date | date:'short'}}</td>
                <td>{{ history.role}}</td>
                <td>
                    <a *ngIf="history.eventId !== 'Deleted'"
                        [routerLink]="['/question', history.eventId]">{{ history.eventId}}</a>
                    <p style="margin-bottom: 0;" *ngIf="history.eventId === 'Deleted'">{{ history.eventId}}</p>
                </td>
                <td>{{history.paymentWay}}
                    <fa-icon *ngIf="history.paymentWay === 'send'" class="historyIconSend" [icon]="faReply"></fa-icon>
                    <fa-icon *ngIf="history.paymentWay === 'receive'" class="historyIconReceive" [icon]="faShare">
                    </fa-icon>
                </td>
                <td>{{ history.amount}} <span>{{history.currencyType}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>