<div class="box bg-img-public" *ngIf="!created">
    <p class="comfirm">CONFIRM EVENT</p>

    <div class="quizBox">
        <p class="quizName">{{formData.question}}</p>
    </div>

    <div class="label">
        <div class="CommentYellow"></div>
        <p>possible outcomes</p>
    </div>
    <div *ngFor="let answer of formData.answers">
        <div class="answerBox">
            <p class="answer">{{answer.name}}</p>
        </div>
    </div>
    <div *ngIf="formData.resolutionDetalis != ''">
        <div class="label" style="padding-top: 16px;">
            <div class="LightYellow"></div>
            <p>resolution details</p>
        </div>
        <div class="answerBox">
            <p class="answer">{{formData.resolutionDetalis}}</p>
        </div>
    </div>
    <div class="label" style="padding-top: 16px;">
        <div class="BetWith"></div>
        <p class="labelNamePos">BET WITH</p>
    </div>
    <div class="answerBox">
        <p class="answer">{{betWith()}}</p>
    </div>

    <div class="timeBox">
        <div class="timeBoxOne">
            <div class="label">
                <div class="ClockYellow"></div>
                <p class="labelNamePos">TIME TO BET</p>
            </div>
            <div class="answerBox">
                <p class="answer">{{timeToBet()}}</p>
            </div>
        </div>
        <div class="timeBoxTwo">
            <div class="label">
                <div class="ExpertsYellow"></div>
                <p class="labelNamePos">NO. of EXPERTS</p>
            </div>
            <div class="answerBox">
                <p class="answer">{{expertsName()}}</p>
            </div>
        </div>
    </div>

    <div class="label">
        <div class="BoxYellow"></div>
        <p class="labelNamePos">ROOM</p>
    </div>
    <div class="answerBox">
        <p class="answer">{{formData.roomName}}</p>
    </div>

    <p class="info">The event ends after the Expert validates.</p>

    <div class="buttonBox">
        <button type="button" class="cancel" (click)="cancel()">BACK</button>
        <button type="button" class="next" (click)="createEvent()">CREATE</button>
    </div>
</div>
<div class="box bg-img-public" *ngIf="created">
    <div class="titleBox">
        <div class="imgCoin"></div>
        <p class="title">NOW BETTING</p>
    </div>
    <p class="titleTwo">Event ends in <b>{{day}}:{{hour}}:{{minutes}}:{{seconds}}</b></p>

    <div class="quizBox">
        <p class="quizText">{{formData.question}}</p>
    </div>

    <div *ngFor="let answer of formData.answers">
        <div class="answerBoxCreated">
            <p class="answerCreated">{{answer.name}}</p>
        </div>
    </div>

    <div class="answerBoxResolution" *ngIf="formData.resolutionDetalis != ''">
        <p class="resolutionText">Resolution details: <b>{{formData.resolutionDetalis}}</b></p>
    </div>

    <div class="poolBox">
        <p class="pool">CURRENT POOL</p>
        <p class="tokenType">0 {{tokenCharacter()}}</p>
    </div>

    <div>
        <div class="infoLabelPos">
            <p class="infoLabel">HOST:</p>
            <div class="hostBox">
                <p class="name">{{nickName}} (You)</p>
                <ngx-avatar size="40" name="{{nickName}}"></ngx-avatar>
            </div>
        </div>
        <div class="infoLabelPos">
            <p class="infoLabel">PLAYERS joined:</p>
            <p class="name">0</p>
        </div>
        <div class="infoLabelPos">
            <p class="infoLabel">EXPERTS joined:</p>
            <p class="name">0</p>
        </div>
    </div>

    <div class="aboutBox">
        <p class="byLink">share on your social media!</p>
        <a class="link" href="#">www.bettery.io/public_event/{{quizData._id}}</a>
        <div class="imgBox" (click)="copyToClickBoard()">
            <div class="listImg" style="margin-right: 8px"></div>
            <p class="copyToClick">Copy to clipboard</p>
        </div>
    </div>

    <div class="sendCommentBox">
        <div class="addCommentBox">
            <p class="addCommentText">Add a comment...</p>
        </div>
        <div class="sendImg"></div>
    </div>

    <div class="commentBox">
        <div class="commentHeader">
            <div class="senderBox">
                <div class="commentImg face1"></div>
                <p class="commentName">Jenna Logan</p>
            </div>
            <div class="timeBox">1 day ago</div>
        </div>
        <div>
            <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    <div class="commentBox">
        <div class="commentHeader">
            <div class="senderBox">
                <div class="commentImg face2"></div>
                <p class="commentName">Terry Crews</p>
            </div>
            <div class="timeBox">1 day ago</div>
        </div>
        <div>
            <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.</p>
        </div>
    </div>

</div>
