.back
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: #000000
    cursor: pointer
    margin-bottom: 24px
    margin-top: 4px
    width: max-content

.avatar
    border: 2px solid #FFFFFF
    box-sizing: border-box
    border-radius: 50%
    width: 96px
    height: 96px
    margin-top: 15px
    margin-bottom: 15px
    margin-right: 17px
    margin-left: 20px

.room_details
    border-radius: 5px

.inline
    display: inline-block

.join
    background: #FFD300
    border-radius: 8px
    font-style: normal
    font-weight: bold
    font-size: 20px
    border: none
    padding-top: 14px
    padding-bottom: 14px
    padding-left: 24px
    padding-right: 24px

.room_name
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 33px
    color: #ffffff

.room_owner
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 27px
    color: #ffffff
    margin-bottom: 5px

.join-box
    float: right
    padding-right: 25px
    padding-top: 33px

.eventsInfo
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 27px
    color: #ffffff

.eventsPositionsInfo
    position: relative
    left: 30px
    top: -47px

.comment-head
  border-top-right-radius: 20px
  border-top-left-radius: 20px
  color: #FFFFFF
  font-weight: bold
  font-size: 12px
  line-height: 16px
  text-decoration-line: underline
  background-color: #039BE5
  display: flex
  align-items: center
  margin-bottom: 8px
  padding: 4px 16px 4px 4px

.comment-wrap
  margin: 51px auto 0 auto
  display: flex
  //justify-content: center
  max-width: 1920px

.comment-box
  background: #FFFFFF
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06)
  border-radius: 20px


.test-img-delet
  width: 64px
  height: 64px
  border-radius: 20px
  margin-right: 16px


@media (max-width: 1366px)
  .main-warp
    margin-top: -20px
//==== comment setting ======
.test
    ::ng-deep
      .sortHead-item-dark
        padding: 5px 12px
      .whiteClass
        max-height: 600px
      .comment-warp
        padding: 0 12px
        max-height: 400px
        overflow: auto
      .forWhite
        padding: 0 8px
      .arrowUp
        display: none !important
      .wrapCommentDown
        border-top: 0.5px solid #DDDDDD
        padding-top: 7px
      .commentBoxChange:nth-last-child(n+2)
        border-bottom: 0.5px solid #DDDDDD
      .addCommentBox::placeholder
        font-size: 10px
        color: #0B1511
      .comingSoon
        color: #0b1511
      .commentName
        font-weight: 600
        font-size: 12px
        color: #0B1511
      .commentImg
        width: 20px
        height: 20px
      .comment
        font-size: 10px
      .darkSize
        width: 13px
        height: 13px
      .comment-warp
        max-height: 400px
        overflow: auto
      .comment-warp::-webkit-scrollbar
        width: 6px

      .comment-warp::-webkit-scrollbar-track
        background: #f1f1f1
        border-radius: 3px

      .comment-warp::-webkit-scrollbar-thumb
        background: #0094FF
        border-radius: 3px

@media (min-width: 1500px)
  .containerFor1920
    max-width: 1440px

.lds-ripple
  margin-top: 100px

.to_the_top
  position: fixed
  bottom: 40px
  right: 32%
  cursor: pointer
  & img
    width: 48px
    height: 54px

.main-comment
  width: 300px
  padding: 0
  position: fixed
  right: 14%

@media (max-width: 1600px)
  .main-comment
    right: 4%
  .main-comment2
    right: 22%
  .to_the_top
    right: 26%

.dnone
  display: none
