<div class="container">
    <div routerLink="/rooms" class="back">
        << Back to Rooms</div>
            <div class="room_details" [ngStyle]="infoRoomColor(roomDetails?.color)">
                <div>
                    <div class="inline">
                        <img class="avatar" src="{{roomDetails?.hostAvatar}}">
                    </div>
                    <div class="inline" style="padding-top: 10px;">
                        <p class="room_name">{{roomDetails?.name}}</p>
                        <p class="room_owner">{{roomDetails?.host}}</p>
                    </div>
                    <div class="inline eventsPositionsInfo">
                        <p class="eventsInfo">Events: <b>{{roomDetails?.events}} ({{roomDetails?.activeEvents}}
                                Active)</b></p>
                    </div>
                    <div class="inline join-box">
                        <button class="join">Join Room</button>
                    </div>
                </div>



            </div>
    </div>