<div class="border-top-event">
    <div class="info_footer">
      <div class="partBox">
        <div class="partPos">
          <div *ngFor="let part of question.parcipiantAnswers; index as i">
            <div [ngStyle]="getPartPos(i, 'part')">
              <img *ngIf="i <= 3" class="partImg" referrerpolicy="no-referrer" src="{{part.avatar}}">
            </div>
          </div>
        </div>
        <p class="playersNumber" [ngStyle]="getPartPosText(question.parcipiantAnswers?.length)"><span style="color: #34DDDD;">{{joined(question.parcipiantAnswers)}}
            Players</span> bet</p>
      </div>
      <div style="display: flex;">
        <div class="prize-pool-img icon_details"></div>
        <p class="poolSize"><b>{{getPool(question)}} BET </b>pool</p>
      </div>
      <div style="display: flex; margin-right: 145px;">
        <div class="expert-img"></div>
        <p class="expertJoined"><span style="color: #BF94E4;">{{joined(question.validatorsAnswers)}}
            Experts</span>
          registered</p>
      </div>
    </div>
    <div class="buttonBox">
      <div *ngIf="timeValidating(question)">
        <button (click)="this.joinAsPlayer()" style="background: #34DDDD" class="joinAsPlayer">JOIN AS
          PLAYER</button>
        <p class="infoButtonText" style="color: #34DDDD" (click)="this.modalAboutPlayers()">What is a Player?</p>
      </div>
      <div>
        <div (click)="this.becomeValidator()"
          [ngStyle]="getValidatorStyle(timeValidating(question))" style="background: #BF94E4; padding-right: 30px; padding-left: 30px"
          class="joinAsPlayer">BECOME AN EXPERT <br> <span class="when_betting_ends" *ngIf="timeValidating(question)">(When betting ends)</span></div>
        <p class="infoButtonText" style="color: #BF94E4; opacity: 1;" (click)="this.modalAboutExpert()">What is an
          Expert?</p>
      </div>
    </div>
  </div>
