<div [className]="checkTheme() ? 'bgWhite' : 'bgDark'">

  <div class="sortHeadDark" id="up">
    <div class="sortHead-item-dark" [ngClass]="sortComment === 'newest' && 'activeDark'"
         (click)="letsSortComment('newest')">Newest
    </div>
    <div class="sortHead-item-dark" [ngClass]="sortComment === 'hottest' && 'activeDark'"
         (click)="letsSortComment('hottest')">Hottest
    </div>
    <div class="sortHead-item-dark" [ngClass]="sortComment === 'friends' && 'activeDark'"
         (click)="letsSortComment('friends')">Friends
    </div>
  </div>

  <div *ngIf="!comingSoon" class="comment-warp">
    <div class="commentBox" *ngFor="let comment of allComments">
      <div class="commentHeader">
        <div class="senderBox">
          <div><img class="commentImg" src="{{comment?.user.avatar}}" alt="ava"></div>
          <p class="commentName">{{comment?.user.nickName}}</p>
        </div>
        <div class="timeBox">{{comment?.date | timeAgo | async}}</div>
      </div>
      <div>
        <p class="comment">{{comment?.comment}}</p>
      </div>

      <div class="icon-wrap row">

        <div class="d-flex col-7">
          <div (click)="sendIcon('angry', comment?.id)">
            <div class="d-flex">
              <div class="angryIcon darkSize"></div>
              <span class="countIcon darkSize"
                    [ngClass]="!checkTheme() && 'colorWhite'">{{comment?.angry.length}}</span>
            </div>
            <div *ngIf="findCCurrentUserReview(comment?.angry)" class="angryBorder"></div>
          </div>

          <div (click)="sendIcon('star', comment?.id)">
            <div class="d-flex">
              <div class="starIcon darkSize"></div>
              <span class="countIcon darkSize" [ngClass]="!checkTheme() && 'colorWhite'">{{comment?.star.length}}</span>
            </div>
            <div *ngIf="findCCurrentUserReview(comment?.star)" class="starBorder"></div>
          </div>

          <div (click)="sendIcon('smile', comment?.id)">
            <div class="d-flex">
              <div class="smileIcon darkSize"></div>
              <span class="countIcon darkSize"
                    [ngClass]="!checkTheme() && 'colorWhite'">{{comment?.smile.length}}</span>
            </div>
            <div *ngIf="findCCurrentUserReview(comment?.smile)" class="smileBorder"></div>
          </div>

          <div (click)="sendIcon('wink', comment?.id)">
            <div class="d-flex">
              <div class="winkyIcon darkSize"></div>
              <span class="countIcon darkSize" [ngClass]="!checkTheme() && 'colorWhite'">{{comment?.wink.length}}</span>
            </div>
            <div *ngIf="findCCurrentUserReview(comment?.wink)" class="winkBorder"></div>
          </div>
        </div>

        <div  class="replyDark col-5">
          <a href="#sendBox" SimpleSmoothScroll (click)="replySend(comment?.id, comment?.user)">Reply</a>
        </div>

      </div>

    </div>
  </div>


  <div *ngIf="comingSoon" class="comment-warp">
    <p>Coming soon</p>
  </div>

  <div>
    <div id="sendBox" class="sendCommentBox" *ngIf="!withoutSend">
    <textarea id="textarea" (keyup)="typingEffect()" [(ngModel)]="newComment" class="addCommentBox" type="text"
              name="newComment"
              placeholder="Add a comment..."></textarea>
      <div (click)="sendComment()" class="sendImg"></div>
    </div>
    <div class="wrapCommentDown">
      <div class="arrowUp d-flex">
        <div class="arrowImg"></div>
        <div><a style="color: #fff" SimpleSmoothScroll href="#up">Go to top</a></div>
      </div>
      <div *ngIf="this.flag" class="someoneTyping">
        <div class="typeCircle-1" [ngClass]="activated[0]"></div>
        <div class="typeCircle-1" [ngClass]="activated[1]"></div>
        <div class="typeCircle-1" [ngClass]="activated[2]"></div>
      </div>
    </div>
  </div>
</div>

<!--<div [className]="'bgWhite'">-->
<!--  <div class="sortHead">-->
<!--    <div class="sortHead-item" [ngClass]="sortComment === 'newest' && 'active'" (click)="letsSortComment('newest')">Newest</div>-->
<!--    <div class="sortHead-item" [ngClass]="sortComment === 'hottest' && 'active'" (click)="letsSortComment('hottest')">Hottest</div>-->
<!--    <div class="sortHead-item" [ngClass]="sortComment === 'friends' && 'active'" (click)="letsSortComment('friends')">Friends</div>-->
<!--  </div>-->
<!--  <div class="comment-warp">-->
<!--    <div class="commentBox mt-4">-->
<!--      <div class="commentHeader">-->
<!--        <div class="senderBox">-->
<!--          <div class="commentImg face1"></div>-->
<!--          <p class="commentNameWhite">Jenna Logan</p>-->
<!--        </div>-->
<!--        <div class="timeBox timeBoxWhite">1 day ago</div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <p class="commentWhite">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--          incididunt-->
<!--          ut labore et dolore magna aliqua.</p>-->
<!--      </div>-->

<!--      <div class="icon-wrap row">-->

<!--        <div class="d-flex col-2 pr-0 pl-0">-->
<!--          <div class="angryIcon"></div>-->
<!--          <span class="countIcon">11</span>-->
<!--        </div>-->

<!--        <div class="d-flex col-2 pr-0 pl-0">-->
<!--          <div class="starIcon"></div>-->
<!--          <span class="countIcon">11</span>-->
<!--        </div>-->

<!--        <div class="d-flex col-2 pr-0 pl-0">-->
<!--          <div class="smileIcon"></div>-->
<!--          <span class="countIcon">11</span>-->
<!--        </div>-->

<!--        <div class="d-flex col-2 pr-0 pl-0">-->
<!--          <div class="winkyIcon"></div>-->
<!--          <span class="countIcon">11</span>-->
<!--        </div>-->

<!--        <div class="reply col-4 pr-0 pl-0">-->
<!--          <p>Reply</p>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->

<!--    <div class="commentBox mt-4">-->
<!--      <div class="commentHeader">-->
<!--        <div class="senderBox">-->
<!--          <div class="commentImg face2"></div>-->
<!--          <p class="commentNameWhite">Terry Crews</p>-->
<!--        </div>-->
<!--        <div class="timeBox timeBoxWhite">1 day ago</div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <p class="commentWhite">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--          incididunt-->
<!--          ut labore et dolore magna aliqua.</p>-->
<!--      </div>-->

<!--      <div class="icon-wrap row">-->

<!--        <div class="d-flex col-2 pr-0 pl-0">-->
<!--          <div class="angryIcon"></div>-->
<!--          <span class="countIcon">11</span>-->
<!--        </div>-->

<!--        <div class="d-flex col-2 pr-0 pl-0">-->
<!--          <div class="starIcon"></div>-->
<!--          <span class="countIcon">11</span>-->
<!--        </div>-->

<!--        <div class="d-flex col-2 pr-0 pl-0">-->
<!--          <div class="smileIcon"></div>-->
<!--          <span class="countIcon">11</span>-->
<!--        </div>-->

<!--        <div class="d-flex col-2 pr-0 pl-0">-->
<!--          <div class="winkyIcon"></div>-->
<!--          <span class="countIcon">11</span>-->
<!--        </div>-->

<!--        <div class="reply col-4 pr-0 pl-0">-->
<!--          <p>Reply</p>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--  <div class="sendCommentBox hr">-->
<!--    <input [(ngModel)]="newComment" class="addCommentBox addCommentBoxWhite" type="text"-->
<!--           name="newComment"-->
<!--           placeholder="Add a comment...">-->
<!--    <div (click)="sendComment()" class="sendImg"></div>-->
<!--  </div>-->
<!--</div>-->
