<div [className]="checkTheme() ? 'bgWhite' : 'bgDark'" [ngClass]="theme && 'whiteClass'">

  <div *ngIf="!hideInput" class="sortHeadDark" id="up">
    <div class="sortHead-item-dark" [ngClass]="forSortHead('newest')" (click)="clickSortComment('newest')">Newest
    </div>
    <div class="sortHead-item-dark" [ngClass]="forSortHead('hottest')" (click)="clickSortComment('hottest')">Hottest
    </div>
    <div class="sortHead-item-dark" [ngClass]="forSortHead('friends')" (click)="clickSortComment('friends')">Friends
    </div>
  </div>

  <div #container *ngIf="!comingSoon" class="comment-warp">
    <div *ngIf="allComments?.length == 0" class="commentBox noComments">
      <h4 [ngClass]="!checkTheme() && 'colorWhite'">No comments yet.</h4>
      <p [ngClass]="!checkTheme() && 'colorWhite'"> Leave a comment, get likes, and earn big!</p>
    </div>
    <div id="{{comment?.id}}" class="commentBox" [ngClass]="allComments?.length <= showLength && 'commentBoxChange'"
         *ngFor="let comment of showOnScreen">
      <div class="commentHeader">
        <div class="senderBox">
          <div><img class="commentImg" src="{{comment?.user.avatar}}" alt="ava" referrerpolicy="no-referrer"></div>
          <p class="commentName">{{comment?.user.nickName}}</p>
        </div>
        <div class="timeBox">{{comment?.date | timeAgo | async}}</div>
      </div>
      <div>
        <p class="comment">
          <a (mousedown)="additionToAnchorLink(comment.replies[0].id)" class="mr-1"
             (click)="scrollTo(comment.replies[0].id)" *ngIf="comment?.replies.length > 0">
            {{comment?.replies[0].user.nickName}}</a>
          {{comment?.comment}}
        </p>
      </div>

      <div class="icon-wrap row">

        <div class="d-flex col-7">
          <div (click)="sendIcon('angry', comment?.id)">
            <div class="d-flex">
              <div class="angryIcon darkSize"></div>
              <span class="countIcon darkSize"
                    [ngClass]="!checkTheme() && 'colorWhite'">{{comment?.angry.length}}</span>
            </div>
            <div *ngIf="findUserActivites(comment?.angry)" class="angryBorder"></div>
          </div>

          <div (click)="sendIcon('star', comment?.id)">
            <div class="d-flex">
              <div class="starIcon darkSize"></div>
              <span class="countIcon darkSize" [ngClass]="!checkTheme() && 'colorWhite'">{{comment?.star.length}}</span>
            </div>
            <div *ngIf="findUserActivites(comment?.star)" class="starBorder"></div>
          </div>

          <div (click)="sendIcon('smile', comment?.id)">
            <div class="d-flex">
              <div class="smileIcon darkSize"></div>
              <span class="countIcon darkSize"
                    [ngClass]="!checkTheme() && 'colorWhite'">{{comment?.smile.length}}</span>
            </div>
            <div *ngIf="findUserActivites(comment?.smile)" class="smileBorder"></div>
          </div>

          <div (click)="sendIcon('wink', comment?.id)">
            <div class="d-flex">
              <div class="winkyIcon darkSize"></div>
              <span class="countIcon darkSize" [ngClass]="!checkTheme() && 'colorWhite'">{{comment?.wink.length}}</span>
            </div>
            <div *ngIf="findUserActivites(comment?.wink)" class="winkBorder"></div>
          </div>
        </div>

        <div class="replyDark col-5">
          <a href="{{mobile && '#sendBox'}}" pageScroll (click)="replySend(comment?.id, comment?.user)">Reply</a>
        </div>

      </div>

    </div>
    <div *ngIf="allComments?.length > showLength" (click)="showMoreComments()" class="showMore">
      <p>View 10 more comments</p>
    </div>
  </div>


  <div *ngIf="comingSoon" class="comment-warp" style="padding: 15px 40px">
    <p class="soonTitle">coming soon!</p>
    <p class="comingSoon">You will be able to comment on Bettery events soon.</p>
  </div>

  <div class="forWhite">

    <div *ngIf="!hideInput">
      <div id="sendBox" class="sendCommentBox" *ngIf="!showAuthButton">
      <textarea id="textarea" (keyup)="typingEffect()" [(ngModel)]="newComment" class="addCommentBox"
                [ngClass]="checkTheme() && 'addCommentBoxWhite'" type="text" name="newComment"
                placeholder="Add a comment..."></textarea>
        <div (click)="sendComment()" class="sendImg" [ngClass]="checkTheme() && 'sendImg-blue'"></div>
      </div>
    </div>

    <div *ngIf="showAuthButton" class="sendCommentBox">
      <button (click)="sendComment()">Register to comment</button>
    </div>
    <div class="wrapCommentDown">
      <div *ngIf="!hideInput" class="arrowUp d-flex">
        <div class="arrowImg"></div>
        <div><a style="color: #fff" pageScroll href="#up">Go to top</a></div>
      </div>
      <div class="closeWhite" [ngClass]="checkTheme() && 'd-block'">
        <div class="plusClose" style="visibility: hidden">
          <div class="plusWhite-img"></div>
          <div class="pt-1">Close</div>
        </div>
      </div>
      <div *ngIf="typingSpynner" class="someoneTyping">
        <div class="typeCircle-1" [ngClass]="activated[0]"></div>
        <div class="typeCircle-1" [ngClass]="activated[1]"></div>
        <div class="typeCircle-1" [ngClass]="activated[2]"></div>
      </div>
    </div>
  </div>
</div>

<app-spinner-loading *ngIf="spinnerLoading"></app-spinner-loading>
