<div class="bg-img">
  <p class="createEvent">CREATE EVENT</p>
  <div class="markBox">
    <div class="tabSpace">
      <div class="circle" [ngStyle]="getCircleOneStyle()">
        <p class="number" [ngStyle]="getNumberOneStyle()"></p>
      </div>
      <p class="tabName">Topic</p>
    </div>
    <div class="vectorOne"></div>
    <div class="tabSpace">
      <div class="circle" [ngStyle]="getCircleTwoStyle()">
        <p class="number" [ngStyle]="getNumberTwoStyle()"></p>
      </div>
      <p class="tabName">Room</p>
    </div>
    <div class="vector" [ngStyle]="vectorStyle()"></div>
    <div class="tabSpace">
      <div class="circle" [ngStyle]="getCircleThreeStyle()">
        <p class="number" [ngStyle]="getNumberThreeStyle()"></p>
      </div>
      <p class="tabName">Rules</p>
    </div>
  </div>
</div>
